<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-content" style="height:100%; display:flex; flex-direction:column;">

    {{> "modules/xanders-swnr-sheet/scripts/templates/items/partials/item-headerbar.html"}}

    <!-- The navagation bar that can be used to switch tabs -->
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" style="border-left:none" data-tab="description">Description</a>
      <a class="item" style="border-right:none" data-tab="details">Details</a>
    </nav>

    <!-- The main item window. -->
    <div class="item-main-window" style="border:none;">

      <!-- The description tab. -->
      <div class="tab description" data-group="primary" data-tab="description">
          <div style="margin-top:10px; display:flex; flex-direction:row; flex-grow:1">
            <!-- The leftmost column on the item sheet. -->
            <div class="item-sidebar">
          
              <!-- The location select option. -->
              <p class="sidebar-titles" style="margin-top:0px;">Location:</p>
              <select name="system.location" style="width:120px">
                {{#select system.location}}
                  <option value="readied">Readied</option>
                  <option value="stowed">Stowed</option>
                  <option value="other">Other</option>
                {{/select}}
              </select>

              <!-- The quality select option. -->
              <p class="sidebar-titles">Quality:</p>
              <select name="system.quality" style="width:120px">
                {{#select system.quality}}
                  <option value="stock">Stock</option>
                  <option value="jurryRigged">Jurry Rigged</option>
                  <option value="mastercrafted">Mastercrafted</option>
                {{/select}}
              </select>

              <!-- The weapon type option. -->
              <p class="sidebar-titles">Type:</p>
              <select name="system.type" style="width:120px">
                {{#select system.type}}
                  <option value="melee">Melee</option>
                  <option value="ranged">Ranged</option>
                {{/select}}
              </select>

            </div>          

            <div class="item-description">
              <div class="item-main-window-text">{{editor content=system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}</div>
            </div>
        </div>
      </div>

      <!-- The details tab. -->
      <div class="tab details scrollable" style="margin-right:2px" data-group="primary" data-tab="details" >
        <div style="margin:10px; flex-grow: 1; display:flex; flex-direction:column;">

          <p><b><u>Attack And Damage:</u></b></p>

          <!-- The damage formula, and bonus inputs. -->
          <div style="display:flex; flex-direction:row;"> 

            <!-- The attack bonus input. -->
            <div style="flex:1 1 0px; padding-left:5px;">
              <p class="details-headers">Attack Bonus:</p>
              <input name="system.ab" class="details-input" value="{{system.ab}}" type="number" style="width:100%" {{#unless owner}}disabeled{{/unless}}/>
            </div>

            <!-- The damage formula input. -->
            <div style="flex:1 1 0px; padding-left:5px;">
              <p class="details-headers">Damage Formula:</p>
              <input name="system.damage" class="details-input" value="{{system.damage}}" type="text" style="width:100%" {{#unless owner}}disabeled{{/unless}}/>
            </div>

            <!-- The first stat. -->
            <div style="flex:1 1 0px; padding-left:5px;">
              <p class="details-headers">Stat:</p>
              <select name="system.stat" style="width:100%">
                {{#select system.stat}}
                  <option value="str">Strength</option>
                  <option value="dex">Dexterity</option>
                  <option value="con">Constitution</option>
                  <option value="int">Intelligence</option>
                  <option value="wis">Wisdom</option>
                  <option value="cha">Charisma</option>
                {{/select}}
              </select>
            </div>

            <!-- The second stat. -->
            <div style="flex:1 1 0px; padding-left:5px;">
              <p class="details-headers">Second Stat:</p>
              <select name="system.secondStat" style="width:100%">
                {{#select system.secondStat}}
                  <option value="none">None</option>
                  <option value="str">Strength</option>
                  <option value="dex">Dexterity</option>
                  <option value="con">Constitution</option>
                  <option value="int">Intelligence</option>
                  <option value="wis">Wisdom</option>
                  <option value="cha">Charisma</option>
                {{/select}}
              </select>
            </div>
          </div>

          <p style="margin-top:10px;"><b><u>Default Skill:</u></b></p>

          <!-- The default skill which should be used with the weapon. -->
          <div style="display:flex; flex-direction:row;"> 

            <!-- The skill which should be used. -->
            <div style="flex:2 1 0px; padding-left:5px;">
              <p class="details-headers">Skill:</p>
              <select name="system.skill" style="width:100%">
                {{#select system.skill}}
                  <option value="">No Skill Set</option>
                  {{#each item.actor.itemTypes.skill}}
                    <option value="{{this.id}}">{{this.name}}: {{this.system.rank}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>

            <!-- A spacer to push the other elements further left.-->
            <div style="flex: 2 1 0px; padding-left:5px;"></div>

          </div>

          <!-- If the weapon is a melee weapon, then the shock damage row is shown. -->
          {{#ifEquals system.type "melee"}}
            <p style="margin-top:10px;"><b><u>Shock Damage:</u></b></p>

            <!-- The shock damage and AC. -->
            <div style="display:flex; flex-direction:row;"> 

              <!-- The Shock Damage. -->
              <div style="flex:1 1 0px; padding-left:5px;">
                <p class="details-headers">Damage Formula:</p>
                <input name="system.shock.dmg" class="details-input" value="{{system.shock.dmg}}" type="number" style="width:100%" {{#unless owner}}disabeled{{/unless}}/>
              </div>

              <!-- The Shock AC. -->
              <div style="flex:1 1 0px; padding-left:5px;">
                <p class="details-headers">AC:</p>
                <input name="system.shock.ac" class="details-input" value="{{system.shock.ac}}" type="number" style="width:100%" {{#unless owner}}disabeled{{/unless}}/>
              </div>

              <!-- A spacer to push the other elements further left.-->
              <div style="flex: 2 1 0px; padding-left:10px;"></div>

            </div>            
          {{/ifEquals}}

          <!-- If the weapon is a ranged weapon, then the range and ammunition are displayed. -->
          {{#ifEquals system.type "ranged"}}
            <p style="margin-top:10px;"><b><u>Ranged Weapon Features:</u></b></p>

            <!-- The weapon range and ammunition. -->
            <div style="display:flex; flex-direction:row;"> 

              <!-- The weapon range. -->
              <div style="flex:1 1 0px; padding-left:5px;">
                <p class="details-headers">Weapon Range:</p>
                <div style="display:flex; flex-direction:row">
                  <input name="system.range.normal" class="details-input" value="{{system.range.normal}}" type="number" style="width:45%" {{#unless owner}}disabeled{{/unless}}/>
                  <p>&nbsp;/&nbsp;</p>
                  <input name="system.range.max" class="details-input" value="{{system.range.max}}" type="number" style="width:45%" {{#unless owner}}disabeled{{/unless}}/>
                </div>
              </div>

              <!-- The weapon ammunition. -->
              <div style="flex:1 1 0px; padding-left:5px;">
                <p class="details-headers">Ammunition:</p>
                <select name="system.ammo.type" style="width:100%">
                  {{#select system.ammo.type}}
                    <option value="none">None</option>
                    <option value="typeAPower">Type A Power Cell</option>
                    <option value="typeBPower">Type B Power Cell</option>
                    <option value="ammo">Standard Ammunition</option>
                    <option value="missile">Missiles</option>
                    <option value="special">Specialty</option>
                    <option value="infinite">Infinite</option>
                  {{/select}}                  
                </select>
              </div>

              <!-- The weapon magazine. -->
              {{#ifNotEquals system.ammo.type "none"}}{{#ifNotEquals system.ammo.type "infinite"}}
                <div style="flex:1 1 0px; padding-left:5px;">
                  <p class="details-headers">Weapon Magazine:</p>
                  <div style="display:flex; flex-direction:row">
                    <input name="system.ammo.value" class="details-input" value="{{system.ammo.value}}" type="number" style="width:45%" {{#unless owner}}disabeled{{/unless}}/>
                    <p>&nbsp;/&nbsp;</p>
                    <input name="system.ammo.max" class="details-input" value="{{system.ammo.max}}" type="number" style="width:45%" {{#unless owner}}disabeled{{/unless}}/>
                  </div>
                </div>
              {{/ifNotEquals}}{{/ifNotEquals}}

              <!-- A spacer to push the other elements further left.-->
              {{#ifEquals system.ammo.type "none"}}<div style="flex: 1 1 0px; padding-left:5px;"></div>{{/ifEquals}}
              {{#ifEquals system.ammo.type "infinite"}}<div style="flex: 1 1 0px; padding-left:5px;"></div>{{/ifEquals}}
              <div style="flex: 1 1 0px; padding-left:5px;"></div>         
            </div>
          {{/ifEquals}}

            <!-- The weapon checkbox properties. -->
            <div style="display:flex; flex-direction:row; padding-bottom:10px"> 
              {{#ifEquals system.type "ranged"}}
                <!-- The burst fire property-->
                <div style="flex:1 1 0px; padding-left:5px;">
                  <p class="details-headers">Burst Fire:</p>
                  <div style="display:flex; flex-direction:row">
                    <input type="checkbox" style="margin:0px;" name="system.ammo.burst" {{#if system.ammo.burst}}checked{{/if}} {{#unless owner}}disabeled{{/unless}}/>
                  </div>
                </div>

                <!-- The long reload property. -->
                <div style="flex:1.2 1 0px; padding-left:5px;">
                  <p class="details-headers">Long Reload:</p>
                  <div style="display:flex; flex-direction:row;">
                    <input type="checkbox" style="margin:0px;" name="system.ammo.longReload" {{#if system.ammo.longReload}}checked{{/if}} {{#unless owner}}disabeled{{/unless}}/>
                  </div>
                </div>

                <!-- The suppresive fire property. -->
                <div style="flex:1.5 1 0px; padding-left:5px;">
                  <p class="details-headers">Suppressive Fire:</p>
                  <div style="display:flex; flex-direction:row">
                    <input type="checkbox" style="margin:0px;" name="system.ammo.suppress" {{#if system.ammo.suppress}}checked{{/if}} {{#unless owner}}disabeled{{/unless}}/>
                  </div>
                </div>
              {{/ifEquals}}

              {{#ifEquals system.type "melee"}}
              <!-- The skill boosts shock property. -->
                <div style="flex:1.6 1 0px; padding-left:5px;">
                  <p class="details-headers">Shock Adds Skill:</p>
                  <div style="display:flex; flex-direction:row;">
                    <input type="checkbox" style="margin:0px;" name="system.skillBoostsShock" {{#if system.skillBoostsShock}}checked{{/if}} {{#unless owner}}disabeled{{/unless}}/>
                  </div>
                </div>
              {{/ifEquals}}

              <!-- The skill boosts damage property. -->
              <div style="flex:1.8 1 0px; padding-left:5px;">
                <p class="details-headers">Damage Adds Skill:</p>
                <div style="display:flex; flex-direction:row;">
                  <input type="checkbox" style="margin:0px;" name="system.skillBoostsDamage" {{#if system.skillBoostsDamage}}checked{{/if}} {{#unless owner}}disabeled{{/unless}}/>
                </div>
              </div>
                                      
              <!-- A spacer to push the other elements to the left. -->
              <div style="{{#ifEquals system.type "ranged"}}flex:1.9{{/ifEquals}} {{#ifEquals system.type "melee"}}flex:4{{/ifEquals}} 1 0px; padding-left:5px;"></div>

            </div>

          

      </div>
  
    </div>

  </div>
</form>
