<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-content" style="height:100%; display:flex; flex-direction:column;">

    <!-- The top title bar. -->
    <div class="header-bar">
      <!-- The skill image. -->
      <div class="item-cover-image">
        <img src="{{item.img}}" {{#if owner}}data-edit="img"{{/if}}/>
      </div>

      <!-- The content to the right of the item image. -->
      <div class="name-bar">
        <!-- The name of the item and the item type. -->
        <div style="display:flex;">
          <!-- The name of the item. -->
          <input class="item-name" name="name" type="text" value="{{item.name}}" {{#unless owner}}disabeled{{/unless}}/>

          <!-- A spacer which pushes the item type to the right. -->
          <div style="flex:1 1"></div>

          <!-- The box which contains the item type (skill, weapon, etc). -->
          <div class="item-type-box" style="width:90px;">
            <p>{{item.type}}</p>
          </div>
        </div>
      
        <!-- The row below the name of the item. -->
        <div class="item-stats-row">
          <!-- The dice pool, default stat, and skill level. -->
          <div class="background-informations" style="display:flex; flex-direction:row;">
            <input name="system.quantity" type="number" value="{{system.quantity}}" {{#unless owner}}disabeled{{/unless}}/>
            <input name="system.encumbrance" type="number" value="{{system.encumbrance}}" {{#unless owner}}disabeled{{/unless}}/>
            <input name="system.cost" type="number" value="{{system.cost}}" {{#unless owner}}disabeled{{/unless}}/>
            <input name="system.tl" type="number" value="{{system.tl}}" {{#unless owner}}disabeled{{/unless}}/>
          </div>

          <!-- The labels that go beneath skill level, source, dice pool, and default stat. -->
          <div class="item-stats-labels">
            <div><p>Quantity</p></div>
            <div><p>Encumbrance</p></div>
            <div><p>Cost</p></div>
            <div><p>Tech Level</p></div>
          </div>

        </div>

      </div>
    </div>

    <!-- The navagation bar that can be used to switch tabs -->
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" style="border-left:none" data-tab="description">Description</a>
      <a class="item" style="border-right:none" data-tab="details">Details</a>
    </nav>

    <!-- The main item window. -->
    <div class="item-main-window" style="border:none;">

      <!-- The description tab. -->
      <div class="tab description" data-group="primary" data-tab="description">
          <div style="margin-top:10px; display:flex; flex-direction:row; flex-grow:1">
            <!-- The leftmost column on the item sheet. -->
            <div class="item-sidebar">
          
              <!-- The location select option. -->
              <p class="sidebar-titles" style="margin-top:0px;">Location:</p>
              <select name="system.location" style="width:120px">
                {{#select system.location}}
                  <option value="readied">Readied</option>
                  <option value="stowed">Stowed</option>
                  <option value="other">Other</option>
                {{/select}}
              </select>

              <!-- The quality select option. -->
              <p class="sidebar-titles">Quality:</p>
              <select name="system.quality" style="width:120px">
                {{#select system.quality}}
                  <option value="stock">Stock</option>
                  <option value="jurryRigged">Jurry Rigged</option>
                  <option value="mastercrafted">Mastercrafted</option>
                {{/select}}
              </select>

              <!-- The weapon type option. -->
              <p class="sidebar-titles">Type:</p>
              <select name="system.type" style="width:120px">
                {{#select system.type}}
                  <option value="melee">Melee</option>
                  <option value="ranged">Ranged</option>
                {{/select}}
              </select>

            </div>          

            <div class="item-main-window-text" style="margin:10px;">{{editor content=system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}</div>
        </div>
      </div>

      <!-- The details tab. -->
      <div class="tab details" data-group="primary" data-tab="details" >
        <div style="margin:10px; flex-grow: 1; display:flex; flex-direction:column;">

          <p><b><u>Attack And Damage:</u></b></p>

          <!-- The damage formula, and bonus inputs. -->
          <div style="display:flex; flex-direction:row;"> 

            <!-- The attack bonus input. -->
            <div style="flex:1 1 0px; padding-left:5px;">
              <p class="details-headers">Attack Bonus:</p>
              <input name="system.ab" class="details-input" value="{{system.ab}}" type="number" style="width:100%" {{#unless owner}}disabeled{{/unless}}/>
            </div>

            <!-- The damage formula input. -->
            <div style="flex:1 1 0px; padding-left:5px;">
              <p class="details-headers">Damage Formula:</p>
              <input name="system.damage" class="details-input" value="{{system.damage}}" type="text" style="width:100%" {{#unless owner}}disabeled{{/unless}}/>
            </div>

            <!-- The first stat. -->
            <div style="flex:1 1 0px; padding-left:5px;">
              <p class="details-headers">Stat:</p>
              <select name="system.stat" style="width:100%">
                {{#select system.stat}}
                  <option value="str">Strength</option>
                  <option value="dex">Dexterity</option>
                  <option value="con">Constitution</option>
                  <option value="int">Intelligence</option>
                  <option value="wis">Wisdom</option>
                  <option value="cha">Charisma</option>
                {{/select}}
              </select>
            </div>

            <!-- The second stat. -->
            <div style="flex:1 1 0px; padding-left:5px;">
              <p class="details-headers">Second Stat:</p>
              <select name="system.secondStat" style="width:100%">
                {{#select system.secondStat}}
                  <option value="none">None</option>
                  <option value="str">Strength</option>
                  <option value="dex">Dexterity</option>
                  <option value="con">Constitution</option>
                  <option value="int">Intelligence</option>
                  <option value="wis">Wisdom</option>
                  <option value="cha">Charisma</option>
                {{/select}}
              </select>
            </div>
          </div>

          <p style="margin-top:10px;"><b><u>Default Skill:</u></b></p>

          <!-- The default skill which should be used with the weapon. -->
          <div style="display:flex; flex-direction:row;"> 

            <!-- The skill which should be used. -->
            <div style="flex:2 1 0px; padding-left:5px;">
              <p class="details-headers">Skill:</p>
              <select name="system.skill" style="width:100%">
                {{#select system.skill}}
                  <option value="">No Skill Set</option>
                  {{#each item.actor.itemTypes.skill}}
                    <option value="{{this.id}}">{{this.name}}: {{this.system.rank}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>

            <!-- A spacer to push the other elements further left.-->
            <div style="flex: 2 1 0px; padding-left:5px;"></div>

          </div>

          <!-- If the weapon is a melee weapon, then the shock damage row is shown. -->
          {{#ifEquals system.type "melee"}}
            <p style="margin-top:10px;"><b><u>Shock Damage:</u></b></p>

            <!-- The shock damage and AC. -->
            <div style="display:flex; flex-direction:row;"> 

              <!-- The Shock Damage. -->
              <div style="flex:1 1 0px; padding-left:5px;">
                <p class="details-headers">Damage Formula:</p>
                <input name="system.shock.dmg" class="details-input" value="{{system.shock.dmg}}" type="number" style="width:100%" {{#unless owner}}disabeled{{/unless}}/>
              </div>

              <!-- The Shock AC. -->
              <div style="flex:1 1 0px; padding-left:5px;">
                <p class="details-headers">AC:</p>
                <input name="system.shock.ac" class="details-input" value="{{system.shock.ac}}" type="number" style="width:100%" {{#unless owner}}disabeled{{/unless}}/>
              </div>

              <!-- A spacer to push the other elements further left.-->
              <div style="flex: 2 1 0px; padding-left:10px;"></div>

            </div>            
          {{/ifEquals}}

          <!-- If the weapon is a ranged weapon, then the range and ammunition are displayed. -->
          {{#ifEquals system.type "ranged"}}
            <p style="margin-top:10px;"><b><u>Ranged Weapon Features:</u></b></p>

            <!-- The weapon range and ammunition type. -->
            <div style="display:flex; flex-direction:row;"> 

              <!-- The weapon range. -->
              <div style="flex:1 1 0px; padding-left:5px;">
                <p class="details-headers">Weapon Range:</p>
                <div style="display:flex; flex-direction:row">
                  <input name="system.range.normal" class="details-input" value="{{system.range.normal}}" type="number" style="width:45%" {{#unless owner}}disabeled{{/unless}}/>
                  <p style="width:10%">&nbsp/&nbsp</p>
                  <input name="system.range.max" class="details-input" value="{{system.range.max}}" type="number" style="width:45%" {{#unless owner}}disabeled{{/unless}}/>
                </div>
              </div>

              <!-- The weapon ammunition. -->
              <div style="flex:1.5 1 0px; padding-left:5px;">
                <p class="details-headers">Ammunition:</p>
                <select name="system.ammo.type" style="width:100%">
                  {{#select system.ammo.type}}
                    <option value="none">None</option>
                    <option value="typeAPower">Type A Power Cell</option>
                    <option value="typeBPower">Type B Power Cell</option>
                    <option value="ammo">Standard Ammunition</option>
                    <option value="missile">Missiles</option>
                    <option value="special">Specialty</option>
                    <option value="infinite">Infinite</option>
                  {{/select}}                  
                </select>
              </div>

              <!-- A spacer to push the other elements further left.-->
              <div style="flex: 1.5 1 0px; padding-left:5px;"></div>

            </div>            
          {{/ifEquals}}

        </div>

      </div>
  
    </div>

  </div>
</form>
