<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-content" style="height:100%; display:flex; flex-direction:column;">

    <!-- The top title bar. -->
    <div class="header-bar">
      <!-- The skill image. -->
      <div class="item-cover-image">
        <img src="{{item.img}}" data-edit="img"/>
      </div>

      <!-- The content to the right of the item image. -->
      <div class="name-bar">
        <!-- The name of the item and the item type. -->
        <div style="display:flex;">
          <!-- The name of the item. -->
          <input class="item-name bottom-border" name="name" type="text" value="{{item.name}}" {{#unless owner}}disabeled{{/unless}}/>

          <!-- A spacer which pushes the item type to the right. -->
          <div {{#if owner}}title="Roll Item"{{/if}} class="item-roll-button item-image-clickable">{{#if owner}}<i class="fas fa-dice-d20"></i>{{/if}}</div>

          <!-- The box which contains the item type (skill, weapon, etc). -->
          <div class="item-type-box" style="width:90px;">
            <p>{{item.type}}</p>
          </div>
        </div>
      
        <!-- The row below the name of the item. -->
        <div class="item-stats-row">
          <!-- The dice pool, default stat, and skill level. -->
          <div class="background-informations" style="display:flex; flex-direction:row;">
            <input style="flex: 1 1" class="bottom-border" name="system.rank" type="number" value="{{system.rank}}" {{#unless owner}}disabeled{{/unless}}/>
            <input name="system.source" class="bottom-border" type="text" value="{{system.source}}" {{#unless owner}}disabeled{{/unless}}/>
            
            <select name="system.pool" style="margin-left:5px; margin-right:5px">
              {{#select system.pool}}
                <option value="ask">Ask</option>
                <option value="2d6">2d6</option>
                <option value="3d6kh2">3d6</option>
                <option value="4d6kh2">4d6</option>
              {{/select}}
            </select>

            <select name="system.defaultStat" style="margin-left:5px">
              {{#select system.defaultStat}}
                <option value="ask">Ask</option>
                <option value="str">Str</option>
                <option value="dex">Dex</option>
                <option value="con">Con</option>
                <option value="int">Int</option>
                <option value="wis">Wis</option>
                <option value="cha">Cha</option>
              {{/select}}
            </select>
          </div>

          <!-- The labels that go beneath skill level, source, dice pool, and default stat. -->
          <div class="item-stats-labels">
            <div style="flex: 1 1"><p>Skill Level</p></div>
            <div><p>Source</p></div>
            <div><p>Dice Pool</p></div>
            <div><p>Default Stat</p></div>
          </div>

        </div>

      </div>
    </div>

    <!-- The main description box. -->
    <div class="item-main-window">
      <div class="item-description">
        <p class="item-main-window-header"><b><u>Description:</u></b></p>
        <div class="item-main-window-text">{{editor content=system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}</div>
      </div>
    </div>

  </div>
</form>
