<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-content" style="height:100%; display:flex; flex-direction:column;">

    {{> "modules/xanders-swnr-sheet/scripts/templates/items/partials/item-headerbar.html"}}

    <!-- The main item window. -->
    <div class="item-main-window">

      <!-- The leftmost column on the item sheet. -->
      <div class="item-sidebar">

        <!-- The location select option. -->
        <p class="sidebar-titles" style="margin-top:0px;">Location:</p>
        <select name="system.location" style="width:120px">
          {{#select system.location}}
            <option value="readied">Readied</option>
            <option value="stowed">Stowed</option>
            <option value="other">Other</option>
          {{/select}}
        </select>

        <!-- The quality select option. -->
        <p class="sidebar-titles">Quality:</p>
        <select name="system.quality" style="width:120px">
          {{#select system.quality}}
            <option value="stock">Stock</option>
            <option value="jurryRigged">Jurry Rigged</option>
            <option value="mastercrafted">Mastercrafted</option>
          {{/select}}
        </select>
        
      </div>

      <!-- The item description box. -->
      <div class="item-description">
        <p class="item-main-window-header"><b><u>Description:</u></b></p>
        <div class="item-main-window-text">{{editor content=system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}</div>
      </div>
      
    </div>

  </div>
</form>
