<!-- The item catagory header -->
<li class="inventory-section-header">
  <div style="flex:1 1 0" class="inventory-titles">{{catagory}}</div>
  <div class="inventory-titles inventory-subtitles">
    {{#if displayFields.ammo}}<div style="width:80px;"><p>Ammunition</p></div>{{/if}}
    {{#if displayFields.class}}<div style="width:80px;"><p>Class</p></div>{{/if}}
    {{#if displayFields.effort}}<div style="width:80px;"><p>Effort</p></div>{{/if}}
    {{#if displayFields.source}}<div style="width:80px;"><p>Source</p></div>{{/if}}
    {{#if displayFields.strain}}<div style="width:40px;"><i class="fa-solid fa-biohazard" style="color:var(--item-header-image-color)"></i></div>{{/if}}
    {{#if displayFields.tl}}<div style="width:40px;"><i class="fa-solid fa-microchip" style="color:var(--item-header-image-color)"></i></div>{{/if}}
    {{#if displayFields.encumbrance}}<div style="width:40px;"><i class="fas fa-weight-hanging fa-xs" style="color:var(--item-header-image-color)"></i></div>{{/if}}
 </div>
</li>

<!-- The list of items -->
<section class="item-list">
  {{#each itemList as |item|}}
    <li class="item inventory-item {{#unless system.favorite}}item-choice-regular{{/unless}} {{#if system.favorite}}item-choice-favorite{{/if}} {{#ifEquals system.location "readied"}}location-readied{{/ifEquals}} {{#ifEquals system.location "stowed"}}location-stowed{{/ifEquals}}" data-item-id="{{item._id}}">
      <div class="inventory-item-header">
        <div class="item-image-box item-image-clickable {{#if item.system.expanded}}expanded{{/if}}" style="background-image:url('{{item.img}}')" data-item-id="{{item._id}}"><i class="fas fa-dice-d20"></i></div>
        <div class="inventory-titles item-clickable" style="flex: 1 1 0" data-item-id="{{item._id}}">{{item.name}}</div>
        <div class="inventory-titles inventory-details">
          {{#unless ../isFavoriteList}}{{#if system.favorite}}<div style="width:25px;"> <i class="fas fa-bookmark fa-sm"></i></div>{{/if}}{{/unless}}
          
          {{#if system.requiresMagazine}}<div class="item-reload-button" data-item-id="{{item._id}}" style="width:25px;"><i class="fa-solid fa-arrow-rotate-right"></i></div>{{/if}}
                  
          <!--This block determines what should be displayed for the ammo detail-->
          {{#if ../displayFields.ammo}}<p style="width:80px;">
            {{#ifEquals system.type "ranged"}}
              {{#if system.requiresMagazine}} {{item.system.ammo.value}}/{{item.system.ammo.max}} {{/if}}
              {{#ifEquals system.ammo.type "infinite"}}Infinite{{/ifEquals}}
              {{#ifEquals system.ammo.type "none"}}None{{/ifEquals}}
            {{/ifEquals}}
            {{#ifNotEquals system.type "ranged"}}—{{/ifNotEquals}}
          </p>{{/if}}

          {{#if ../displayFields.class}}<p style="width:80px;">{{item.system.class}}</p>{{/if}}
          {{#if ../displayFields.effort}}
            {{#ifNotEquals item.system.effort ""}}<p style="width:80px;">{{item.system.effortString}}</p>{{/ifNotEquals}}
            {{#ifEquals item.system.effort ""}}<p style="width:80px;">—</p>{{/ifEquals}}
          {{/if}}
          {{#if ../displayFields.source}}<p style="width:80px;">{{item.system.source}}</p>{{/if}}
          {{#if ../displayFields.strain}}<p style="width:40px;">{{item.system.strain}}</p>{{/if}}
          {{#if ../displayFields.tl}}<p style="width:40px;">{{item.system.tl}}</p>{{/if}}
          {{#if ../displayFields.encumbrance}}<p style="width:40px;">{{item.system.encumbrance}}</p>{{/if}}
        </div>
      </div>
      {{#if item.system.expanded}}
      <div class="inventory-item-summary" style="border-bottom:1px solid var(--border-color);">
      {{#if system.usingDetails}}
        {{{system.details}}}
      {{else}}
        {{{system.description}}}
      {{/if}}
      </div>
      <div>
      {{> "modules/xanders-swnr-sheet/scripts/templates/items/partials/item-details-tags.html" item=item}}
      </div>
      {{/if}}
    </li>
  {{/each}}
</section>