<div class="inventory-extra-details">
  <!--The tags for weapons-->
  {{#ifEquals item.type "weapon"}}
    <div class="inventory-extra-details-item"><b>Damage: </b>{{item.system.fullDamage}}</div>
    <div class="inventory-extra-details-item"><b>Hit Bonus: </b>{{item.system.fullAttackBonus}}</div>
    {{#ifEquals item.system.type "ranged"}}<div class="inventory-extra-details-item"><b>Range: </b>{{item.system.range.normal}} / {{item.system.range.max}}</div>{{/ifEquals}}
    {{#ifEquals item.system.type "melee"}}<div class="inventory-extra-details-item"><b>Shock: </b>{{item.system.shock.dmg}} point / AC {{item.system.shock.ac}}</div>{{/ifEquals}}
    <div class="inventory-extra-details-item"><b>Quality: </b>{{item.system.quality}}</div>
    <div class="inventory-extra-details-item"><b>TL: </b>{{item.system.tl}}</div>
  {{/ifEquals}}

    <!--The tags for armor-->
  {{#ifEquals item.type "armor"}}
    <div class="inventory-extra-details-item"><b>Armor Class: </b>{{item.system.ac}}</div>
    <div class="inventory-extra-details-item"><b>Quality: </b>{{item.system.quality}}</div>
    <div class="inventory-extra-details-item"><b>TL: </b>{{item.system.tl}}</div>
  {{/ifEquals}}

  <!--The tags for items-->
  {{#ifEquals item.type "item"}}
    <div class="inventory-extra-details-item"><b>Quality: </b>{{item.system.quality}}</div>
    <div class="inventory-extra-details-item"><b>TL: </b>{{item.system.tl}}</div>
  {{/ifEquals}}

  <!--The tags for foci-->
  {{#ifEquals item.type "focus"}}
    <div class="inventory-extra-details-item"><b>Level: </b>{{item.system.levelString}}</div>
  {{/ifEquals}}

  <!--The tags for class-->
  {{#ifEquals item.type "class"}}
    <div class="inventory-extra-details-item"><b>Class: </b>{{item.system.class}}</div>
  {{/ifEquals}}

  <!--The tags for cyberware-->
  {{#ifEquals item.type "cyberware"}}
    <div class="inventory-extra-details-item"><b>Strain: </b>{{item.system.strain}}</div>
    <div class="inventory-extra-details-item"><b>Status: </b>{{#if system.disabled}}Disabled{{else}}Enabled{{/if}}</div>
    <div class="inventory-extra-details-item"><b>TL: </b>{{item.system.tl}}</div>
  {{/ifEquals}}

  {{#ifEquals item.type "skill"}}
    <div class="inventory-extra-details-item"><b>Level: </b>{{item.system.rank}}</div>
    <div class="inventory-extra-details-item"><b>Stat: </b>{{item.system.defaultStat}}</div>
    <div class="inventory-extra-details-item"><b>Dice: </b>{{item.system.dice}}</div>
  {{/ifEquals}}
</div>