<!-- The item catagory header -->
<li class="inventory-section-header">
  <div style="flex:2 1 0" class="inventory-titles">{{catagory}}</div>
  <div style="width:25px;"></div>
  <div class="inventory-titles">
    <div style="flex:0.5 1"></div>
    <div style="flex:0.5 1"><i class="fas fa-planet-ringed fa-xs" style="color:var(--item-header-image-color)"></i></div> 
    <div style="flex:0.5 1 0"><i class="fas fa-weight-hanging fa-xs" style="color:var(--item-header-image-color)"></i></div>
  </div>
</li>


<!-- The list of items -->
{{#each itemList as |item|}}
  <li class="inventory-item {{#unless system.favorite}}item-choice-regular{{/unless}} {{#if system.favorite}}item-choice-favorite{{/if}} {{#ifEquals system.location "readied"}}location-readied{{/ifEquals}} {{#ifEquals system.location "stowed"}}location-stowed{{/ifEquals}}" data-item-id="{{item._id}}">
    <div class="inventory-item-header">
      <div class="item-image-box item-image-clickable {{#if item.system.expanded}}expanded{{/if}}" style="background-image:url('{{item.img}}')" data-item-id="{{item._id}}"><i class="fas fa-dice-d20"></i></div>
      <div class="inventory-titles item-clickable" style="flex: 2 1 0" data-item-id="{{item._id}}">{{item.name}}</div>
      <div class="inventory-titles">
        <div style="flex:0.5 1"> {{#if system.favorite}} <i class="fas fa-bookmark fa-sm"></i> {{/if}} </div>
        <p style="flex:0.5 1">{{item.system.tl}}</p>
        <p style="flex:0.5 1">{{item.system.encumbrance}}</p>
      </div>
    </div>
    {{#if item.system.expanded}}
    <div class="inventory-item-summary" style="border-bottom:1px solid var(--border-color);">
      {{{system.description}}}
    </div>
    <div>
      <div class="inventory-extra-details">
        {{#ifEquals item.type "weapon"}}
          <div class="inventory-extra-details-item"><b>Damage: </b>{{item.system.fullDamage}}</div>
          <div class="inventory-extra-details-item" style="margin-left:5px;"><b>Hit Bonus: </b>{{item.system.fullAttackBonus}}</div>
          {{#ifEquals item.system.type "ranged"}}<div class="inventory-extra-details-item" style="margin-left:5px; margin-right:5px"><b>Range: </b>{{item.system.range.normal}} / {{item.system.range.max}}</div>{{/ifEquals}}
          {{#ifEquals item.system.type "melee"}}<div class="inventory-extra-details-item" style="margin-left:5px; margin-right:5px"><b>Shock: </b>{{item.system.shock.dmg}} point / AC {{item.system.shock.ac}}</div>{{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals item.type "armor"}}<div class="inventory-extra-details-item" style="margin-right:5px;"><b>Armor Class: </b>{{item.system.ac}}</div>{{/ifEquals}}
        <div class="inventory-extra-details-item"><b>Quality: </b>{{item.system.quality}}</div>
      </div>
    </div>

    {{/if}}
  </li>
{{/each}}
