<form>
  <div class="form-group">
    <label>Situational Modifier</label>
    <input type="text" name="modifier" value="" placeholder="ex. 2d4+2"/>
  </div>
  <div class="form-group">
    <label>Roll Mode</label>
    <select name="rollmode">
      <option value="CURRENT">Current Mode</option>
      <option value="PUBLIC">Public Roll</option>
      <option value="PRIVATE">Private GM Roll</option>
      <option value="BLIND">Blind GM Roll</option>
      <option value="SELF">Self Roll</option>
    </select>
  </div>
</form>