<form>
  <div class="form-group">
    <label>Dice Pool</label>
    <select name="pool">
      {{#select system.pool}}
        <option value="2d6">2d6</option>
        <option value="3d6kh2">3d6</option>
        <option value="4d6kh2">4d6</option>
      {{/select}}
    </select>
  </div>
  <div class="form-group">
    <label>
      {{#ifEquals system.actorType "character"}}Roll Attribute{{/ifEquals}}
      {{#ifEquals system.actorType "npc"}}Roll Type{{/ifEquals}}
    </label>
    <select name="attribute">
      {{#ifEquals system.actorType "npc"}}
        <option value="untrained">Untrained : 0</option>
        <option value="{{system.skillBonusModString}}">Trained : {{system.skillBonusModString}}</option>
      {{/ifEquals}}
      {{#ifEquals system.actorType "character"}}
        {{#select system.defaultStat}}
          <option value="str">Strength: {{system.stats.str.modString}}</option>
          <option value="dex">Dexterity: {{system.stats.dex.modString}}</option>
          <option value="con">Constitution: {{system.stats.con.modString}}</option>
          <option value="int">Intelligence: {{system.stats.int.modString}}</option>
          <option value="wis">Wisdom: {{system.stats.wis.modString}}</option>
          <option value="cha">Charisma: {{system.stats.cha.modString}}</option>
        {{/select}}
      {{/ifEquals}}
    </select>
  </div>
  <div class="form-group">
    <label>Situational Modifier</label>
    <input type="text" name="modifier" value="" placeholder="ex. 2d4+2"/>
  </div>
  <div class="form-group">
    <label>Roll Mode</label>
    <select name="rollmode">
      <option value="CURRENT">Current Mode</option>
      <option value="PUBLIC">Public Roll</option>
      <option value="PRIVATE">Private GM Roll</option>
      <option value="BLIND">Blind GM Roll</option>
      <option value="SELF">Self Roll</option>
    </select>
  </div>
</form>