<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-content" style="height:100%; display:flex; flex-direction:column;">

    <!-- The header that displays above the tabs of the sheet. Character name, level, etc. -->
    <div class="header-bar">

        <!-- The character portrait and the componenets connected to it (HP bar, etc) -->
        <div class="character-portrait">
          <!-- The character image -->
          <img src="{{actor.img}}" {{#unless system.xIsLocked}}data-edit="img"{{/unless}}/>

          <!-- The character strain bar -->
          <div class="strain-bar" style="border-bottom:0px;">
            <div style="width:{{system.systemStrain.percentage}}%" class="strain-fill"></div>
            <div class="strain-text">
              <input name="system.systemStrain.value" type="number" value="{{system.systemStrain.value}}" class="strain-input" style="text-align:right" {{#unless owner}}disabeled{{/unless}}/>
              <p style="margin:0px">/</p>
              <input name="system.systemStrain.max" type="number" value="{{system.systemStrain.max}}" class="strain-input" disabled/>
            </div>
          </div>

          <!-- The character health bar -->
          <div class="health-bar">
            <div style="width:{{system.health.percentage}}%" class="health-fill"></div>
            <div class="health-text">
              <input name="system.health.value" type="number" value="{{system.health.value}}" class="health-input" style="text-align:right" {{#unless owner}}disabeled{{/unless}}/>
              <p style="margin:0px">/</p>
              <input name="system.health.max" type="number" value="{{system.health.max}}" class="health-input" {{#if system.xIsLocked}}disabled{{/if}}/>
            </div>
          </div>
        </div>

        <!-- The area to the right of the portrait. Contains name, background, etc. -->
        <div class="name-bar">

          <!-- The Character Name, lock button, and Level. -->
          <div style="display:flex; flex-direction:row">
            <input class="player-name" name="name" type="text" value="{{actor.name}}" {{#if system.xIsLocked}}disabled{{/if}}/>
            <div style="flex: 1 1 0; display:flex; justify-content:end;">
              <div class="level-box">
                <p>Level. </p>
                <input name="system.level.value" class="level-input" type="number" value="{{system.level.value}}" {{#if system.xIsLocked}}disabled{{/if}}/>
              </div>
            </div>
            <div style="display:flex; justify-content:end; align-items:center">
              {{#if owner}}
              <div class="lock-button">
                {{#if system.xIsLocked}}
                <img src="modules/xanders-swnr-sheet/img/icons/locked.svg" style="width: 100%; height:100%;"/>
                {{else}}
                <img src="modules/xanders-swnr-sheet/img/icons/unlocked.svg" style="width: 100%; height:100%;"/>
                {{/if}}
              </div>
              {{/if}}
            </div>
          </div>

          <!-- The Character background, species, gender, homeworld, and employer. -->
          <div class="background-informations" style="display:flex; flex-direction:row;">
            <input name="system.class" type="text" value="{{system.class}}" {{#if system.xIsLocked}}disabled{{/if}}/>

            <input name="system.background" type="text" value="{{system.background}}" {{#if system.xIsLocked}}disabled{{/if}}/>

            <input name="system.homeworld" type="text" value="{{system.homeworld}}" {{#if system.xIsLocked}}disabled{{/if}}/>

            <input name="system.employer" style="margin-right:0" type="text" value="{{system.employer}}" {{#if system.xIsLocked}}disabled{{/if}}/>
          </div>

          <!-- The labels that go beneath background, gender, homeworld, and employer. -->
          <div class="background-informations-labels" style="display:flex; flex-direction:row; margin-bottom:10px">
            <div><p>Class</p></div>
            <div><p>Background</p></div>
            <div><p>Home World</p></div>
            <div><p>Faction</p></div>
          </div>

          <!-- The Character gender and saving throw buttons. -->
          <div style="display:flex; flex-direction:row">

            <!-- The Character gender input and label. -->
            <div class="species-element" style="flex: 2 1 0px">
              <input name="system.species" type="text" value="{{system.species}}" {{#if system.xIsLocked}}disabled{{/if}}/>
              <div class="species-label" style="display:flex; justify-content:center"><p>Gender/Species</p></div>
            </div>

            <!-- The saving throw buttons. -->
            <div class="save-throw-container">
              <p>Saving Throws</p>

              <div class="save-throw-box">
                <div class="save-throw-button"  data-save-type="physical"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p class="difficulty">v{{system.save.physical}}</p> <p>&nbsp;Physical</p></div>
                <div class="save-throw-button" style="margin-left: 0px"  data-save-type="evasion"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p class="difficulty">v{{system.save.evasion}}</p> <p>&nbsp;Evasion</p></div>
                <div class="save-throw-button" style="margin-left: 0px"  data-save-type="mental"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p class="difficulty">v{{system.save.mental}}</p> <p>&nbsp;Mental</p></div>
              </div>
            </div>

          </div>

        </div>

    </div>

    <!-- The navagation bar that can be used to switch tabs -->
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" style="border-left:none" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="inventory">Inventory</a>
      <a class="item" data-tab="features">Features</a>
      <a class="item" style="border-right:none" data-tab="biography">Biography</a>
    </nav>

    <!-- The actual tabs -->
    <section class="sheet-body">
      <div style="padding:10px">

        <!-- The attribute tab -->
        <div class="tab attributes" data-group="primary" data-tab="attributes" >
          <div style="display:flex; flex-direction:row">
            
            <!-- The skills list -->
            <div style="margin-right: 10px;">
              <ul class="skill-list">
                <!-- The skill list title row -->
                <li class="skill skill-header">
                  <span class="skill-level">Lvl</span>
                  <span class="skill-title no-hilight" data-skill="pilot">Skill</span>
                  <span class="skill-dice">Dice</span>
                  <span class="skill-attribute">Atrb</span>
                </li>

                <!-- The skills list skills -->
                {{#each skills as |skill id|}}
                <li class="skill skill-choice" data-item-id="{{skill._id}}">
                  <span class="skill-level">{{skill.system.rankString}}</span>
                  <span class="skill-title skill-clickable" data-item-id="{{skill._id}}">{{skill.name}}</span>
                  <span class="skill-dice">{{skill.system.pool}}</span>
                  <span class="skill-attribute">{{skill.system.defaultStat}}</span>
                </li>
                {{/each}}

                <!-- The add skills buttons that display when the sheet is in edit mode -->
                {{#if system.displayAddSkillButtons}}

                  <li class="skill add-skill">
                    <span class="add-skill-clickable" data-add-skill="revised">Add SWNR Skills</span>
                  </li>

                  {{#unless system.xIsLocked}}
                    <li class="skill add-skill">
                      <span class="add-skill-clickable" data-add-skill="psychic">Add Psychic Skills</span>
                    </li>

                    <li class="skill add-skill">
                      <span class="add-skill-clickable" data-add-skill="magic">Add Magic Skills</span>
                    </li>

                    <li class="skill add-skill">
                      <span class="add-skill-clickable" data-add-skill="newItem">Add New Skill</span>
                    </li>

                    <li class="skill add-skill">
                      <span class="add-skill-clickable" data-add-skill="remove">Remove All Skills</span>
                    </li>
                  {{/unless}}
                {{/if}}

              </ul>
            </div>

            <!-- The favorited item bar and attribute list -->
            <div class="attribute-item-bar">
              <!-- The attribute list -->
              <div class="attribute-list">
                <div class="attribute" style="border-left: none;">
                  <div class="attribute-header"><p><u>STR</u></p></div>                  
                  <div><input name="system.stats.str.base" value="{{system.stats.str.base}}" type="number" class="attribute-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.str.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.str.bonus" type="number" value="{{system.stats.str.bonus}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>DEX</u></p></div>                  
                  <div><input name="system.stats.dex.base" value="{{system.stats.dex.base}}" type="number" class="attribute-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.dex.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.dex.bonus" type="number" value="{{system.stats.dex.bonus}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>CON</u></p></div>                  
                  <div><input name="system.stats.con.base" value="{{system.stats.con.base}}" type="number" class="attribute-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.con.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.con.bonus" type="number" value="{{system.stats.con.bonus}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>INT</u></p></div>                  
                  <div><input name="system.stats.int.base" value="{{system.stats.int.base}}" type="number" class="attribute-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.int.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.int.bonus" type="number" value="{{system.stats.int.bonus}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>WIS</u></p></div>                  
                  <div><input name="system.stats.wis.base" value="{{system.stats.wis.base}}" type="number" class="attribute-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.wis.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.wis.bonus" type="number" value="{{system.stats.wis.bonus}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>CHA</u></p></div>                  
                  <div><input name="system.stats.cha.base" value="{{system.stats.cha.base}}" type="number" class="attribute-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.cha.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.cha.bonus" type="number" value="{{system.stats.cha.bonus}}" />
                    </div>
                  {{/unless}}
                </div>
              </div>

              <!-- The favorited items list -->
              <div style="flex-grow: 1">
              </div>

            </div>
          </div>
        </div>

        <!-- The inventroty tab -->
        <div class="tab inventory" data-group="primary" data-tab="inventory">
          <div style="display:flex; flex-direction:column;">

            <!-- The inventory list -->
            <div class="inventory-list">

              <!-- The items list -->
              {{#if system.hasItems}}
                <div class="inventory-header">
                  <div class="inventory-titles">Items</div>
                  <div style="width:25px;"></div>
                  <div class="inventory-titles">
                    <p style="flex:0.5 1">TL</p> 
                    <p>Encumbrance</p>
                    <p>Quality</p>
                  </div>
                </div>

                {{#each actualItems as |item|}}
                  <div class="inventory-item item-choice" data-item-id="{{item._id}}">
                    <div class="inventory-image"><img src="{{item.img}}"></div>
                    <div class="inventory-titles item-clickable" data-item-id="{{item._id}}">{{item.name}}</div>
                    <div class="inventory-titles">
                      <p style="flex:0.5 1">{{item.system.tl}}</p>
                      <p>{{item.system.encumbrance}}</p>
                      <p>{{item.system.quality}}</p>
                    </div>
                  </div>
                {{/each}}
              {{/if}}

              <!-- The wapons list -->
              {{#if system.hasWeapons}}
                <div class="inventory-header">
                  <div class="inventory-titles">Weapons</div>
                  <div style="width:25px;"></div>
                  <div class="inventory-titles">
                    <p style="flex:0.5 1">TL</p> 
                    <p>Encumbrance</p>
                    <p>Quality</p>
                  </div>
                </div>

                {{#each weapons as |weapon|}}
                  <div class="inventory-item item-choice" data-item-id="{{weapon._id}}">
                    <div class="inventory-image"><img src="{{weapon.img}}"></div>
                    <div class="inventory-titles item-clickable" data-item-id="{{weapon._id}}">{{weapon.name}}</div>
                    <div class="inventory-titles">
                      <p style="flex:0.5 1">{{weapon.system.tl}}</p>
                      <p>{{weapon.system.encumbrance}}</p>
                      <p>{{weapon.system.quality}}</p>
                    </div>
                  </div>
                {{/each}}
              {{/if}}

            </div>

          </div>
        </div>

        <!-- The features tab -->
        <div class="tab features" data-group="primary" data-tab="features">
          <p>This!</p>
        </div>

        <!-- The biography tab -->
        <div class="tab biography" data-group="primary" data-tab="biography">
          <p>More Testing!</p>
        </div>
      </div>

    </section>
    

  </div>
</form>
