<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-content" style="height:100%; display:flex; flex-direction:column;">

    <!-- The header that displays above the tabs of the sheet. Character name, level, etc. -->
    <div class="header-bar">

        <!-- The character portrait and the componenets connected to it (HP bar, etc) -->
        <div class="character-portrait">
          <!-- The character image -->
          <img src="{{actor.img}}" {{#unless system.xIsLocked}}data-edit="img"{{/unless}}/>

          <div class="portrait-button" data-type="rest" style="left:0; top:0"><i class="fa-solid fa-bed" style="font-size: 20px;"></i></div>
          <div class="portrait-button" data-type="hit-dice" style="right:0; top:0"><i class="fa-solid fa-dice-d20" style="font-size: 25px;"></i></div>

          <!-- The character health bar -->
          <div class="health-bar">
            <div style="width:{{system.health.percentage}}%" class="health-fill"></div>
            <div class="health-text">
              <input data-name="health.value" type="text" value="{{system.health.value}}" class="health-input borderless current-value" style="text-align:right;margin:0px;" {{#unless owner}}disabeled{{/unless}}/>
              <p style="margin:0px">/</p>
              <input name="system.health.max" type="number" value="{{system.health.max}}" class="health-input borderless" style=";margin:0px;" {{#if system.xIsLocked}}disabled{{/if}}/>
            </div>
          </div>
        </div>

        <!-- The area to the right of the portrait. Contains name, background, etc. -->
        <div class="name-bar">

          <!-- The Character Name, lock button, and Level. -->
          <div style="display:flex; flex-direction:row; height:30px">
            <input class="player-name bottom-border" name="name" type="text" value="{{actor.name}}" {{#if system.xIsLocked}}disabled{{/if}}/>
            <div style="flex: 1 1 0; display:flex; justify-content:end;">
              <div style="display:flex; flex-direction:column">
                <div class="disposition-box" style="height:100%;">
                  <select name="system.reaction" style="width:100px;height:100%;" >
                    {{#select system.reaction}}
                      <option value="unknown">Unknown</option>
                      <option value="hostile">Hostile</option>
                      <option value="negative">Negative</option>
                      <option value="neutral">Neutral</option>
                      <option value="positive">Positive</option>
                      <option value="friendly">Friendly</option>
                    {{/select}}
                  </select>
                </div>
              </div>
            </div>
            <div style="display:flex; justify-content:end; align-items:center">
              {{#if owner}}
              <div class="lock-button">
                {{#if system.xIsLocked}}
                <img src="modules/xanders-swnr-sheet/img/icons/locked.svg" style="width: 100%; height:100%;"/>
                {{else}}
                <img src="modules/xanders-swnr-sheet/img/icons/unlocked.svg" style="width: 100%; height:100%;"/>
                {{/if}}
              </div>
              {{/if}}
            </div>
          </div>

          <!-- The Character background, species, gender, homeworld, and employer. -->
          <div class="background-informations" style="display:flex; flex-direction:row;">
            <input name="system.homeworld" class="bottom-border" type="text" value="{{system.homeworld}}" {{#if system.xIsLocked}}disabled{{/if}}/>
            <input name="system.faction" class="bottom-border" style="margin-right:0" type="text" value="{{system.faction}}" {{#if system.xIsLocked}}disabled{{/if}}/>
            <input name="system.species" class="bottom-border" type="text" value="{{system.species}}" {{#if system.xIsLocked}}disabled{{/if}}/>
          </div>

          <!-- The labels that go beneath background, gender, homeworld, and employer. -->
          <div class="background-informations-labels" style="display:flex; flex-direction:row; margin-bottom:10px">
            <div><p>Home World</p></div>
            <div><p>Faction</p></div>
            <div><p>Gender/Species</p></div>
          </div>

          <!-- The Character gender and saving throw buttons. -->
          <div style="display:flex; flex-direction:row">

            <!-- A div for spacing. -->
            <div style="flex: 1 1 0px;"></div>

            <!-- The saving throw buttons. -->
            <div class="rollables-container" style="margin-left:0px;">
              <p>Rollables</p>

              <div class="rollables-box">
                <div class="rollables-button" style="width:80px;" data-type="moral"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p>&nbsp;Morale</p></div>
                <div class="rollables-button" style="margin-left:0px; width:70px;"  data-type="skill"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p>&nbsp;Skill</p></div>
                <div class="rollables-button" style="margin-left:0px; width:105px;"  data-type="trained-skill"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p>&nbsp;Trained Skill</p></div>
                <div class="save-throw-button" style="margin-left:0px; width:105px;"  data-save-type="npc"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p>&nbsp;Saving Throw</p></div>
              </div>
            </div>

          </div>

        </div>

    </div>

    <!-- The navagation bar that can be used to switch tabs -->
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" style="border-left:none" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="inventory">Inventory</a>
      <a class="item" data-tab="features">Features</a>
      <a class="item" style="border-right:none" data-tab="notes">Notes</a>
    </nav>

    <!-- The actual tabs -->
    <section class="sheet-body">
      <div style="margin-top:10px; margin-left:10px; margin-bottom:10px; margin-right:2px; flex-grow:1; display:flex">

        <!-- The attribute tab -->
        <div class="tab attributes" data-group="primary" data-tab="attributes" >
          <div class="scrollable" style="display:flex; flex-direction:row; flex-grow:1;">
            
            <!-- A list of some kind -->
            <div style="margin-right:10px; width:220px;">
              
            </div>

            <!-- The favorited item bar and attribute list -->
            <div class="attribute-item-bar">
              <!-- Speed, AC, AB, and effort-->
              <div class="stat-list">
                <div class="stat-box">
                  {{#if system.xIsLocked}}
                    <div class="stat-input-container"><input type="number" class="xanders-input bottom-border" name="system.ac" value="{{system.ac}}" disabled/></div>
                    <p>Armor Class</p>
                  {{else}}
                    <div class="stat-input-container"><input type="number" class="xanders-input bottom-border" name="system.baseAc" value="{{system.baseAc}}"/></div>
                    <p>Base AC</p>
                  {{/if}}
                </div>
                <div class="stat-box">
                  <div class="stat-input-container"><input type="number" class="xanders-input bottom-border" name="system.ab" value="{{system.ab}}" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <p>Attack Bonus</p>
                </div>
                <div class="stat-box">
                  <div class="stat-input-container"><input type="text" class="xanders-input bottom-border" name="system.hitDice" value="{{system.hitDice}}" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <p>Hit Dice</p>
                </div>
                <div class="stat-box">
                  <div class="stat-input-container"><input type="number" class="xanders-input bottom-border" name="system.speed" value="{{system.speed}}" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <p>Move Speed</p>
                </div>
              </div>

              <!-- The favorited items list -->
              <div style="flex-grow: 1">
                <ul class="inventory-list" style="margin-top:0px; flex-grow:1">
                  {{#if system.favoriteItems.hasArmor}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.armor catagory="Armor" displayFields=system.inventoryDisplayFields.armor isFavoriteList=true}}
                  {{/if}} 

                  {{#if system.favoriteItems.hasClass}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.class catagory="Class Ability" displayFields=system.inventoryDisplayFields.class isFavoriteList=true}}
                  {{/if}}  

                  {{#if system.favoriteItems.hasCyberware}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.cyberware catagory="Cyberware" displayFields=system.inventoryDisplayFields.cyberware isFavoriteList=true}}
                  {{/if}}  

                  {{#if system.favoriteItems.hasEdge}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.edge catagory="Edges" displayFields=system.inventoryDisplayFields.edge isFavoriteList=true}}
                  {{/if}} 

                  {{#if system.favoriteItems.hasFocus}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.focus catagory="Foci" displayFields=system.inventoryDisplayFields.focus isFavoriteList=true}}
                  {{/if}}   

                  {{#if system.favoriteItems.hasItem}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.item catagory="Items" displayFields=system.inventoryDisplayFields.item isFavoriteList=true}}
                  {{/if}} 

                  {{#if system.favoriteItems.hasPower}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.power catagory="Powers" displayFields=system.inventoryDisplayFields.power isFavoriteList=true}}
                  {{/if}} 

                  {{#if system.favoriteItems.hasWeapon}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.weapon catagory="Weapons" displayFields=system.inventoryDisplayFields.weapon isFavoriteList=true}}
                  {{/if}}                    
                </ul>

              </div>

            </div>
          </div>
        </div>

        <!-- The inventroty tab -->
        <div class="tab inventory" data-group="primary" data-tab="inventory">
          <div style="display:flex; flex-direction:column; flex-grow:1">

            <!-- The inventory list -->
            <ul class="inventory-list scrollable" style="flex-grow:1">

              <!-- The armor list -->
              {{#if system.hasArmor}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.armor catagory="Armor" displayFields=system.inventoryDisplayFields.armor isFavoriteList=false}}
              {{/if}}

              <!-- The items list -->
              {{#if system.hasItem}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.item catagory="Items" displayFields=system.inventoryDisplayFields.item isFavoriteList=false}}
              {{/if}}

              <!-- The wapons list -->
              {{#if system.hasWeapon}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.weapon catagory="Weapons" displayFields=system.inventoryDisplayFields.weapon isFavoriteList=false}}
              {{/if}}

            </ul>
            
            <!-- The bottom part of the inventory tab that shows encumbrance and money. -->
            <div class="inventory-money-bar">
              <!-- Div Used For Spacing -->
              <div class="encumbrance-container"></div>

              <!-- The inputs for money. -->
              <div class="money-container">
                <div style="display:flex; flex-direction:row;">
                  <input class="xanders-input" type="text" data-name="credits.debt" value="{{system.credits.debt}}"/>
                  <input class="xanders-input" type="text" data-name="credits.balance" value="{{system.credits.balance}}"/>
                  <input class="xanders-input" style="margin-right:20px" data-name="credits.owed" type="text" value="{{system.credits.owed}}"/>
                </div>

                <div style="display:flex; flex-direction:row;">
                  <p>Debt</p>
                  <p>Balance</p>
                  <p style="margin-right:10px">Owed</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- The features tab -->
        <div class="tab features" data-group="primary" data-tab="features">
          <div style="display:flex; flex-direction:column; flex-grow:1">
            <ul class="inventory-list scrollable" style="flex-grow:1">

              <!-- The class abillity list -->
              {{#if system.hasClass}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.class catagory="Class Abilities" displayFields=system.inventoryDisplayFields.class isFavoriteList=false}}
              {{/if}}

              <!-- The cyberware list -->
              {{#if system.hasCyberware}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.cyberware catagory="Cyberware" displayFields=system.inventoryDisplayFields.cyberware isFavoriteList=false}}
              {{/if}}

              <!-- The edge list -->
              {{#if system.hasEdge}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.edge catagory="Edges" displayFields=system.inventoryDisplayFields.edge isFavoriteList=false}}
              {{/if}}

              <!-- The foci list -->
              {{#if system.hasFocus}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.focus catagory="Foci" displayFields=system.inventoryDisplayFields.focus isFavoriteList=false}}
              {{/if}}

              <!-- The powers list -->
              {{#if system.hasPower}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.power catagory="Powers" displayFields=system.inventoryDisplayFields.power isFavoriteList=false}}
              {{/if}}

            </ul>

              <div class="inventory-effort-bar">

              </div>
          </div>
        </div>

        <!-- The notes tab -->
        <div class="tab notes" data-group="primary" data-tab="notes" style="flex-direction:column">
          <div class="notes-window scrollable">
            <p class="notes-header"><b><u>Biography:</u></b></p>
            <div class="notes-text">{{editor content=system.biography target="system.biography" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}</div>
          </div>
        </div>
      </div>

    </section>
    

  </div>
</form>
