<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-content" style="height:100%; display:flex; flex-direction:column;">

    {{#unless system.actorLink}}<div class="unlinked-actor"></div>{{/unless}}

    <!-- The header that displays above the tabs of the sheet. Character name, level, etc. -->
    <div class="header-bar">

        <!-- The character portrait and the componenets connected to it (HP bar, etc) -->
        <div class="character-portrait">
          <!-- The character image -->
          <img src="{{actor.img}}" {{#unless system.xIsLocked}}data-edit="img"{{/unless}}/>

          <div class="portrait-button" title="Rest" data-type="rest" style="left:0; top:0"><i class="fa-solid fa-bed" style="font-size: 20px;"></i></div>
          <div class="portrait-button" title="Level Up" data-type="level-up" style="right:0; top:0"><i class="fa-solid fa-dice-d20 {{#if system.canLevelUp}}d20-glowing{{/if}}" style="font-size: 25px;"></i></div>

          <!-- The character strain bar -->
          <div class="strain-bar" style="border-bottom:0px;">
            <div style="width:{{system.systemStrain.percentage}}%" class="strain-fill"></div>
            <div class="strain-text">
              <input data-name="systemStrain.value" type="text" value="{{system.systemStrain.value}}" class="strain-input current-value borderless" style="text-align:right;margin:0px;" {{#unless owner}}disabled{{/unless}}/>
              <p style="margin:0px">/</p>
              <div class="strain-max">
                <input name="system.systemStrain.max" type="number" value="{{system.systemStrain.max}}" class="strain-input borderless" style=";margin:0px;" disabled/>
                
                <!-- The tooltip that displays when you hover the maximum strain value. -->
                <div class="strain-tooltip">
                  <div style="display:flex; flex-direction:row"><p>Base:&nbsp;</p><p>{{system.stats.con.total}}</p></div>
                  <div style="display:flex; flex-direction:row">
                    <p>Permanent:&nbsp;-</p>
                    <input name="system.systemStrain.permanent" type="number" class="borderless xanders-input" value="{{system.systemStrain.permanent}}"/>
                  </div>
                  <div style="display:flex; flex-direction:row; margin-bottom:5px"><p>Cyberware:&nbsp;-&nbsp;</p><p>{{system.systemStrain.cyberware}}</p></div>
                  <hr/>
                  <div style="display:flex; flex-direction:row;"><p><b>Total:</b>&nbsp;</p><p>{{system.systemStrain.max}}</p></div>
                </div>

              </div>
            </div>
          </div>

          <!-- The character health bar -->
          <div class="health-bar">
            <div style="width:{{system.health.percentage}}%" class="health-fill"></div>
            <div class="health-text">
              <input data-name="health.value" type="text" value="{{system.health.value}}" class="health-input borderless current-value" style="text-align:right;margin:0px;" {{#unless owner}}disabled{{/unless}}/>
              <p style="margin:0px">/</p>
              <input name="system.health.max" type="number" value="{{system.health.max}}" class="health-input borderless" style=";margin:0px;" {{#if system.xIsLocked}}disabled{{/if}}/>
            </div>
          </div>
        </div>

        <!-- The area to the right of the portrait. Contains name, background, etc. -->
        <div class="name-bar">

          <!-- The Character Name, lock button, and Level. -->
          <div style="display:flex; flex-direction:row; height:30px">
            <input class="player-name bottom-border" name="name" type="text" value="{{actor.name}}" {{#if system.xIsLocked}}disabled{{/if}}/>
            <div style="flex: 1 1 0; display:flex; justify-content:end;">
              <div style="display:flex; flex-direction:column">
                <div class="level-box">
                <p>Level. </p>
                <input name="system.level.value" class="level-input borderless" type="number" value="{{system.level.value}}" {{#if system.xIsLocked}}disabled{{/if}}/>
                </div>
                <div class="xp-bar" style="flex-direction:row; display:flex">
                  <div style="position:absolute; width:100%; display:flex; flex-direction:row">
                    <div style="flex:1 1 0"></div>
                    <input style="text-align:end" data-name="level.exp" type="text" value="{{system.level.exp}}" class="xp-input current-value borderless" {{#unless owner}}disabled{{/unless}}/> 
                    <p>/</p> 
                    <input name="system.level.expToLevel" type="number" value="{{system.level.expToLevel}}" class="xp-input borderless" {{#if system.xIsLocked}}disabled{{/if}}/> 
                    <div style="flex:1 1 0"></div>
                  </div>
                  <div class="xp-bar-fill" style="width:{{system.level.percentage}}%"></div>
                  <div style="flex:1 1 0"></div>
                </div>
              </div>
            </div>
            <div style="display:flex; justify-content:end; align-items:center">
              {{#if owner}}
              <div title="Lock Sheet" class="lock-button">
                {{#if system.xIsLocked}}
                <img src="modules/xanders-swnr-sheet/img/icons/locked.svg" style="width: 100%; height:100%;"/>
                {{else}}
                <img src="modules/xanders-swnr-sheet/img/icons/unlocked.svg" style="width: 100%; height:100%;"/>
                {{/if}}
              </div>
              {{/if}}
            </div>
          </div>

          <!-- The Character background, species, gender, homeworld, and employer. -->
          <div class="background-informations" style="display:flex; flex-direction:row;">
            <input name="system.class" class="bottom-border" type="text" value="{{system.class}}" {{#if system.xIsLocked}}disabled{{/if}}/>

            <input name="system.background" class="bottom-border" type="text" value="{{system.background}}" {{#if system.xIsLocked}}disabled{{/if}}/>

            <input name="system.homeworld" class="bottom-border" type="text" value="{{system.homeworld}}" {{#if system.xIsLocked}}disabled{{/if}}/>

            <input name="system.employer" class="bottom-border" style="margin-right:0" type="text" value="{{system.employer}}" {{#if system.xIsLocked}}disabled{{/if}}/>
          </div>

          <!-- The labels that go beneath background, gender, homeworld, and employer. -->
          <div class="background-informations-labels" style="display:flex; flex-direction:row; margin-bottom:10px">
            <div><p>Class</p></div>
            <div><p>Background</p></div>
            <div><p>Home World</p></div>
            <div><p>Faction</p></div>
          </div>

          <!-- The Character gender and saving throw buttons. -->
          <div style="display:flex; flex-direction:row">

            <!-- The Character gender input and label. -->
            <div class="background-informations" style="flex: 2 1 0px">
              <input name="system.species" class="bottom-border" type="text" value="{{system.species}}" {{#if system.xIsLocked}}disabled{{/if}}/>
              <div class="background-informations-labels" style="display:flex; justify-content:center"><p>Gender/Species</p></div>
            </div>

            <!-- The saving throw buttons. -->
            <div class="save-throw-container">
              <p>Saving Throws</p>

              <div class="save-throw-box">
                <div class="save-throw-button"  data-save-type="physical"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p class="difficulty">v{{system.save.physical}}</p> <p>&nbsp;Physical</p></div>
                <div class="save-throw-button" style="margin-left: 0px" data-save-type="evasion"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p class="difficulty">v{{system.save.evasion}}</p> <p>&nbsp;Evasion</p></div>
                <div class="save-throw-button" style="margin-left: 0px" data-save-type="mental"><i class="fas fa-dice-d20" style="margin-right:5px;"></i><p class="difficulty">v{{system.save.mental}}</p> <p>&nbsp;Mental</p></div>
              </div>
            </div>

          </div>

        </div>

    </div>

    <!-- The navagation bar that can be used to switch tabs -->
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" style="border-left:none" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="inventory">Inventory</a>
      <a class="item" data-tab="features">Features</a>
      <a class="item" style="border-right:none" data-tab="notes">Notes</a>
    </nav>

    <!-- The actual tabs -->
    <section class="sheet-body">
      <div style="margin-top:10px; margin-left:10px; margin-bottom:10px; margin-right:2px; flex-grow:1; display:flex">

        <!-- The attribute tab -->
        <div class="tab attributes" data-group="primary" data-tab="attributes" >
          <div class="scrollable" style="display:flex; flex-direction:row; flex-grow:1;">
            
            <!-- The skills list -->
            <div>
              <section class="item-list skill-list">
                <!-- The skill list title row -->
                <li class="skill skill-header">
                  {{#unless system.xIsLocked}}<span class="skill-level-up"></span>{{/unless}}
                  <span class="skill-level">Lvl</span>
                  <span class="skill-title no-hilight" data-skill="pilot">Skill</span>
                  <span class="skill-dice">Dice</span>
                  <span class="skill-attribute">Atrb</span>
                </li>

                <!-- The skills list skills -->
                {{#each system.itemTypes.skill as |skill|}}
                <li class="{{#unless ../system.xIsLocked}}item{{/unless}} skill skill-choice" data-item-id="{{skill._id}}">
                  {{#unless ../system.xIsLocked}}<span class="skill-level-up skill-level-button inventory-item-button" data-item-id="{{skill._id}}"><i class="fas fa-level-up-alt"></i></span>{{/unless}}
                  <span class="skill-level">{{skill.system.rankString}}</span>
                  <span class="skill-title skill-clickable" data-item-id="{{skill._id}}">{{skill.name}}</span>
                  <span class="skill-dice">{{skill.system.pool}}</span>
                  <span class="skill-attribute">{{skill.system.defaultStat}}</span>
                </li>
                {{/each}}

              </section>

              <!-- The add skills buttons that display when the sheet is in edit mode -->
              {{#if system.displayAddSkillButtons}}
                <section class="item-list skill-list" style="margin-top:5px; margin-bottom:5px">
                  <li class="skill add-skill">
                    <span class="add-skill-clickable" data-add-skill="revised">Add SWNR Skills</span>
                  </li>

                  {{#unless system.xIsLocked}}
                    <li class="skill add-skill">
                      <span class="add-skill-clickable" data-add-skill="psychic">Add Psychic Skills</span>
                    </li>

                    <li class="skill add-skill">
                      <span class="add-skill-clickable" data-add-skill="magic">Add Magic Skills</span>
                    </li>

                    <li class="skill add-skill">
                      <span class="add-skill-clickable" data-add-skill="newItem">Add New Skill</span>
                    </li>

                    <li class="skill add-skill">
                      <span class="add-skill-clickable" data-add-skill="remove">Remove All Skills</span>
                    </li>
                  {{/unless}}
                </section>
              {{/if}}

              <!-- The skill points. -->
              {{#unless system.xIsLocked}}
                <div style="margin-right:10px; margin-top:5px;">
                  <div style="display:flex; flex-direction:row;" class="money-container">
                    <input style="margin-top:0px" class="xanders-input" type="text" data-name="unspentSkillPoints" value="{{system.unspentSkillPoints}}"/>
                    <input style="margin-top:0px" class="xanders-input" type="text" data-name="unspentPsySkillPoints" value="{{system.unspentPsySkillPoints}}"/>
                  </div>

                  <div style="display:flex; flex-direction:row; margin-top:2px" class="money-container">
                    <p>Skill Points</p>
                    <p>Psionic Points</p>
                  </div>
                </div>
              {{/unless}}
            </div>

            <!-- The favorited item bar and attribute list -->
            <div class="attribute-item-bar">
              <!-- Speed, AC, AB, and effort-->
              <div class="stat-list">
                <div class="stat-box">
                  {{#if system.xIsLocked}}
                    <div class="stat-input-container"><input type="number" class="xanders-input bottom-border" name="system.ac" value="{{system.ac}}" disabled/></div>
                    <p>Armor Class</p>
                  {{else}}
                    <div class="stat-input-container"><input type="number" class="xanders-input bottom-border" name="system.baseAc" value="{{system.baseAc}}"/></div>
                    <p>Base AC</p>
                  {{/if}}
                </div>
                <div class="stat-box">
                  <div class="stat-input-container"><input type="number" class="xanders-input bottom-border" name="system.ab" value="{{system.ab}}" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <p>Attack Bonus</p>
                </div>
                <div class="stat-box">
                  <div class="stat-input-container"><input type="text" class="xanders-input bottom-border" name="system.hitDie" value="{{system.hitDie}}" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <p>Hit Die</p>
                </div>
                <div class="stat-box">
                  <div class="stat-input-container"><input type="number" class="xanders-input bottom-border" name="system.speed" value="{{system.speed}}" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <p>Move Speed</p>
                </div>
              </div>

              <!-- The attribute list -->
              <div class="attribute-list">
                <div class="attribute" style="border-left: none;">
                  <div class="attribute-header"><p><u>STR</u></p></div>                  
                  <div><input name="system.stats.str.base" value="{{system.stats.str.base}}" type="number" class="attribute-input borderless xanders-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.str.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.str.boost" type="number" class="borderless xanders-input" value="{{system.stats.str.boost}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>DEX</u></p></div>                  
                  <div><input name="system.stats.dex.base" value="{{system.stats.dex.base}}" type="number" class="attribute-input borderless xanders-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.dex.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.dex.boost" type="number" class="borderless xanders-input"  value="{{system.stats.dex.boost}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>CON</u></p></div>                  
                  <div><input name="system.stats.con.base" value="{{system.stats.con.base}}" type="number" class="attribute-input borderless xanders-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.con.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.con.boost" type="number" class="borderless xanders-input"  value="{{system.stats.con.boost}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>INT</u></p></div>                  
                  <div><input name="system.stats.int.base" value="{{system.stats.int.base}}" type="number" class="attribute-input borderless xanders-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.int.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.int.boost" type="number" class="borderless xanders-input"  value="{{system.stats.int.boost}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>WIS</u></p></div>                  
                  <div><input name="system.stats.wis.base" value="{{system.stats.wis.base}}" type="number" class="attribute-input borderless xanders-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.wis.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.wis.boost" type="number" class="borderless xanders-input" value="{{system.stats.wis.boost}}" />
                    </div>
                  {{/unless}}
                </div>
                <div class="attribute">
                  <div class="attribute-header"><p><u>CHA</u></p></div>                  
                  <div><input name="system.stats.cha.base" value="{{system.stats.cha.base}}" type="number" class="attribute-input borderless xanders-input" {{#if system.xIsLocked}}disabled{{/if}}/></div>
                  <div class="attribute-modifier"><p>{{system.stats.cha.modString}}</p></div>
                  {{#unless system.xIsLocked}}
                    <div class="attribute-boost">
                      <p style="font-size:10px">Boost:</p> <input name="system.stats.cha.boost" type="number" class="borderless xanders-input"  value="{{system.stats.cha.boost}}" />
                    </div>
                  {{/unless}}
                </div>
              </div>

              <!-- The favorited items list -->
              <div style="flex-grow: 1">
                <ul class="inventory-list" style="flex-grow:1">
                  {{#if system.favoriteItems.hasArmor}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.armor catagory="Armor" displayFields=system.inventoryDisplayFields.armor isFavoriteList=true}}
                  {{/if}} 

                  {{#if system.favoriteItems.hasClass}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.class catagory="Class Ability" displayFields=system.inventoryDisplayFields.class isFavoriteList=true}}
                  {{/if}}  

                  {{#if system.favoriteItems.hasCyberware}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.cyberware catagory="Cyberware" displayFields=system.inventoryDisplayFields.cyberware isFavoriteList=true}}
                  {{/if}}  

                  {{#if system.favoriteItems.hasEdge}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.edge catagory="Edges" displayFields=system.inventoryDisplayFields.edge isFavoriteList=true}}
                  {{/if}} 

                  {{#if system.favoriteItems.hasFocus}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.focus catagory="Foci" displayFields=system.inventoryDisplayFields.focus isFavoriteList=true}}
                  {{/if}}   

                  {{#if system.favoriteItems.hasItem}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.item catagory="Items" displayFields=system.inventoryDisplayFields.item isFavoriteList=true}}
                  {{/if}} 

                  {{#if system.favoriteItems.hasPower}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.power catagory="Powers" displayFields=system.inventoryDisplayFields.power isFavoriteList=true}}
                  {{/if}} 

                  {{#if system.favoriteItems.hasWeapon}}
                    {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.favoriteItems.weapon catagory="Weapons" displayFields=system.inventoryDisplayFields.weapon isFavoriteList=true}}
                  {{/if}}                    
                </ul>

              </div>

            </div>
          </div>
        </div>

        <!-- The inventory tab -->
        <div class="tab inventory" data-group="primary" data-tab="inventory">
          <div style="display:flex; flex-direction:column; flex-grow:1">

            <!-- The inventory list -->
            <ul class="inventory-list scrollable" style="flex-grow:1">

              <!-- The armor list -->
              {{#if system.hasArmor}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.armor catagory="Armor" displayFields=system.inventoryDisplayFields.armor isFavoriteList=false}}
              {{/if}}

              <!-- The items list -->
              {{#if system.hasItem}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.item catagory="Items" displayFields=system.inventoryDisplayFields.item isFavoriteList=false}}
              {{/if}}

              <!-- The wapons list -->
              {{#if system.hasWeapon}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.weapon catagory="Weapons" displayFields=system.inventoryDisplayFields.weapon isFavoriteList=false}}
              {{/if}}

            </ul>
            
            <!-- The bottom part of the inventory tab that shows encumbrance and money. -->
            <div class="inventory-money-bar">
              <!-- The two lines that show encumbrance. -->
              <div class="encumbrance-container">
                <div style="display:flex; flex-direction:row">
                  <p class="encumbrance-label">Readied: </p>
                  <div class="encumbrance-bar readied" style="margin-bottom:0px;">
                    <div class="encumbrance-bar-fill {{#if system.encumbrance.ready.over}}over-filled{{/if}}" style="width:{{system.encumbrance.ready.percentage}}%"></div>
                    <div style="flex:1 1 0"></div>
                    <div class="encumbrance-input">
                      <p>{{system.encumbrance.ready.value}}/{{system.encumbrance.ready.max}}</p>
                    </div>
                  </div>
                </div>
                <div style="display:flex; flex-direction:row">
                  <p class="encumbrance-label">Stowed: </p>
                  <div class="encumbrance-bar stowed">
                    <div class="encumbrance-bar-fill {{#if system.encumbrance.stowed.over}}over-filled{{/if}}" style="width:{{system.encumbrance.stowed.percentage}}%"></div>
                    <div style="flex:1 1 0"></div>
                    <div class="encumbrance-input">
                      <p>{{system.encumbrance.stowed.value}}/{{system.encumbrance.stowed.max}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- The inputs for money. -->
              <div class="money-container">
                <div style="display:flex; flex-direction:row;">
                  <input class="xanders-input" type="text" data-name="credits.debt" value="{{system.credits.debt}}"/>
                  <input class="xanders-input" type="text" data-name="credits.balance" value="{{system.credits.balance}}"/>
                  <input class="xanders-input" style="margin-right:20px" data-name="credits.owed" type="text" value="{{system.credits.owed}}"/>
                </div>

                <div style="display:flex; flex-direction:row;">
                  <input class="money-name-input borderless" type="text" name="system.tweak.debtDisplay" value="{{system.tweak.debtDisplay}}" {{#if system.xIsLocked}}disabled{{/if}}/>
                  <input class="money-name-input borderless" type="text" name="system.tweak.balanceDisplay" value="{{system.tweak.balanceDisplay}}" {{#if system.xIsLocked}}disabled{{/if}}/>
                  <input style="margin-right:20px;" class="money-name-input borderless" type="text" name="system.tweak.owedDisplay" value="{{system.tweak.owedDisplay}}" {{#if system.xIsLocked}}disabled{{/if}}/>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- The features tab -->
        <div class="tab features" data-group="primary" data-tab="features">
          <div style="display:flex; flex-direction:column; flex-grow:1">
            <ul class="inventory-list scrollable" style="flex-grow:1">

              <!-- The class abillity list -->
              {{#if system.hasClass}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.class catagory="Class Abilities" displayFields=system.inventoryDisplayFields.class isFavoriteList=false}}
              {{/if}}

              <!-- The cyberware list -->
              {{#if system.hasCyberware}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.cyberware catagory="Cyberware" displayFields=system.inventoryDisplayFields.cyberware isFavoriteList=false}}
              {{/if}}

              <!-- The edge list -->
              {{#if system.hasEdge}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.edge catagory="Edges" displayFields=system.inventoryDisplayFields.edge isFavoriteList=false}}
              {{/if}}

              <!-- The foci list -->
              {{#if system.hasFocus}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.focus catagory="Foci" displayFields=system.inventoryDisplayFields.focus isFavoriteList=false}}
              {{/if}}

              <!-- The powers list -->
              {{#if system.hasPower}}
                {{> "modules/xanders-swnr-sheet/scripts/templates/actors/partials/inventory-catagory.html" itemList=system.itemTypes.power catagory="Powers" displayFields=system.inventoryDisplayFields.power isFavoriteList=false}}
              {{/if}}

            </ul>

            <div class="inventory-effort-bar">
              <!-- The actual effort progress bar-->
              <div style="display:flex; flex-direction:row; flex:1 1 0; align-items:center;">
                <p class="encumbrance-label">Effort: </p>
                <div class="encumbrance-bar readied" style="margin-bottom:0px; margin-left:0px;">
                  <div class="encumbrance-bar-fill" style="width:{{system.effort.percentage}}%"></div>
                  <div style="flex:1 1 0"></div>
                  <div class="encumbrance-input">
                    <p>{{system.effort.value}}/{{system.effort.max}}</p>
                  </div>
                </div>
              </div>

              <!-- The inputs for effort. -->
              <div class="money-container">
                <div style="display:flex; flex-direction:row;">
                  <input class="xanders-input" type="text" data-name="effort.bonus" value="{{system.effort.bonus}}"/>
                  <input class="xanders-input" type="text" data-name="effort.current" value="{{system.effort.current}}"/>
                  <input class="xanders-input" type="text" data-name="effort.scene" value="{{system.effort.scene}}"/>
                  <input class="xanders-input" style="margin-right:20px" type="text" data-name="effort.day" value="{{system.effort.day}}"/>
                </div>

                <div style="display:flex; flex-direction:row;">
                  <p>Bonus</p>
                  <p>Current</p>
                  <p>Scene</p>
                  <p style="margin-right:10px">Day</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- The notes tab -->
        <div class="tab notes" data-group="primary" data-tab="notes" style="flex-direction:column">

            <!-- The full width row under the two columns. -->
            <div class="notes-window" style="display:flex; flex-direction:column; flex:1 1 0px; margin-right:10px;">
              <div style="display:flex; flex-direction:column; flex:1 1 0px;">
                <input id="bio-header" style="margin-top: 10px;" name="system.bioLabel" value="{{system.bioLabel}}" {{#if system.xIsLocked}}disabled{{/if}}/>
                <div class="notes-text bio-container" style="height:unset; flex:1 1 0px;">{{editor content=system.biography target="system.biography" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}</div>
              </div>
            </div>

        </div>
      </div>
    </section>
  </div>
</form>
