<div class="xanders-swnr chat-details" style="margin:2px;">
    <!-- The item name and header. -->
    <hr style="margin:2px"/>
    <div style="display:flex; flex-direction:row; align-items:center">
        <img src="{{img}}" style="border:1px solid black; width:36px; height:36px;margin-right:5px;">
        <p id="item-name" style="font-family:'Orbitron'; font-size:20px">{{name}}</p>
    </div>

    <!-- The main card body. -->
    <hr style="margin:2px"/>
    <div class="card-content">
        {{#if system.usingDetails}}
            {{{system.details}}}
        {{else}}
            {{{system.description}}}
        {{/if}}
        <hr style="margin-top:2px;margin-bottom:2px;"/>
    </div>

    <!-- If the item is a weapon then attack buttons should be displayed. -->
    {{#ifEquals type "weapon"}}
    <div class="chat-card-buttons" style="padding-top:3px">
        <button class="attack-button" data-type="attack" data-item-id="{{id}}" data-owner-id="{{parent.id}}" style="margin-bottom:3px; line-height:24px;">Attack</button>
        <button class="damage-button" data-type="damage" data-item-id="{{id}}" data-owner-id="{{parent.id}}" style="margin-bottom:3px; line-height:24px;">Damage</button>
        {{#ifEquals system.type "ranged"}}{{#if system.ammo.burst}}<button class="burst-damage-button" data-type="burst" data-item-id="{{id}}" data-owner-id="{{parent.id}}" style="margin-bottom:3px; line-height:24px;">Burst Damage</button>{{/if}}{{/ifEquals}}
        {{#ifEquals system.type "melee"}}<button class="shock-button" data-type="shock" data-item-id="{{id}}" data-owner-id="{{parent.id}}" style="margin-bottom:3px; line-height:24px;">Shock</button>{{/ifEquals}}
        <hr style="width:100%;margin-bottom:2px;margin-top:2px"/>
    </div>
    <div>
        {{#ifNotEquals system.save ""}}
            <button class="save-throw-button" data-item-id="{{id}}" data-owner-id="{{parent.id}}" data-type="{{system.save}}" style="margin-top:3px;margin-bottom:3px;line-height:24px;">{{system.saveString}} Saving Throw</button>
            <hr style="width:100%;margin-bottom:2px;margin-top:2px"/>
        {{/ifNotEquals}}
    </div>
    {{/ifEquals}}

    <!-- If the item is a power and a save button needs displayed. -->
    {{#ifEquals type "power"}}
        <div class="chat-card-buttons">
            {{#ifNotEquals system.roll ""}}
                <button class="power-roll-button" data-item-id="{{id}}" data-owner-id="{{parent.id}}" data-type="roll-button" style="margin-bottom:3px;margin-top:3px;line-height:24px;">Roll</button>
                {{#unless system.effort}} <hr style="width:100%;margin-bottom:2px;margin-top:2px"/> {{/unless}}
            {{/ifNotEquals}}
            {{#ifNotEquals system.effort ""}}{{#if system.effort}}
                <button class="power-effort-button" data-item-id="{{id}}" data-owner-id="{{parent.id}}" data-type="{{system.effort}}" style="margin-top:3px;margin-bottom:3px;line-height:24px;{{#ifNotEquals system.skill ""}}{{#if system.skill}}{{#ifNotEquals system.save ""}}{{#if system.save}}margin-top:0px;{{/if}}{{/ifNotEquals}}{{/if}}{{/ifNotEquals}}">Expend Effort</button>
                <hr style="width:100%;margin-bottom:2px;margin-top:2px"/>
            {{/if}}{{/ifNotEquals}}
        </div>
        <div>
            {{#ifNotEquals system.skillId ""}}{{#if system.skillId}}
                <button class="power-skill-button" data-item-id="{{id}}" data-owner-id="{{parent.id}}" data-type="skill-button" style="line-height:24px;margin-bottom:3px;margin-top:3px;">Skill Check</button>
                {{#unless system.save}} <hr style="width:100%;margin-bottom:2px;margin-top:2px"/> {{/unless}}

            {{/if}}{{/ifNotEquals}}
            {{#ifNotEquals system.skill ""}}{{#if system.skill}}
                <button class="power-skill-button" data-item-id="{{id}}" data-owner-id="{{parent.id}}" data-type="skill-button" style="line-height:24px;margin-bottom:3px;margin-top:3px;">Skill Check</button>
                {{#unless system.save}} <hr style="width:100%;margin-bottom:2px;margin-top:2px"/> {{/unless}}

            {{/if}}{{/ifNotEquals}}
            {{#ifNotEquals system.save ""}}{{#if system.save}}
                <button class="save-throw-button" data-item-id="{{id}}" data-owner-id="{{parent.id}}" data-type="{{system.save}}" style="line-height:24px;margin-bottom:3px;margin-top:3px;{{#ifNotEquals system.skill ""}}{{#if system.skill}}margin-top:0px;{{/if}}{{/ifNotEquals}}">{{system.saveString}} Saving Throw</button>
                <hr style="width:100%;margin-bottom:2px;margin-top:2px"/>
            {{/if}}{{/ifNotEquals}}

        </div>
    {{/ifEquals}}

    <!-- The small grey attribute tags at the bottom of item cards. -->
    <div style="margin-top:2px;margin-bottom:0px;">
    {{> "modules/xanders-swnr-sheet/scripts/templates/items/partials/item-details-tags.html" item=this}}
    </div>
</div>