/* Adding additional fonts used by the system */
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}

/* Color variables that are used in the sheet */
.xanders-swnr{
  --background-sheet-header-color: rgb(255, 255, 255, 0.6);
  --background-sheet-color: rgb(230, 230, 230);
  --background-image: url("../img/backgrounds/hexellence-new.webp");
  --background-portrait-image: url("../../../../ui/parchment-white.jpg");

  --font-color: rgb(28,28,28);
  --second-font-color: rgb(100,100,100);
  --border-color: rgb(170,170,170);

  --health-bar-color: linear-gradient(45deg, rgba(48,121,22,1) 0%, rgba(97,190,80,1) 100%);
  --input-focus-color: rgb(5, 99, 150);
  --level-background-color: rgb(140,140,140,0.5);
}

/* Makes some changes to the default sheet look and spacing */
.xanders-swnr.window-app .window-content{
  padding: 0px;
  display: flex;

  background: var(--background-image);
  background-color: var(--background-sheet-color);

}

/* Sets the minimum size allowed for an actor sheet */
.xanders-actor-sheet{
  min-width: 560px;
  min-height: 500px;
}

/* Sets the minimum size allowed for an item sheet */
.xanders-item-sheet{
  min-width: 440px;
  min-height: 370px;
}

/* Setting the deualt font style */
.xanders-swnr p {
  font-family: "Roboto";
  color: var(--font-color);
  margin: 0px;
}

/* Setting default values for input fields */
.xanders-swnr input{
  border: none;
  background: none;
  padding: 4px;
  color: var(--font-color);

  font-family: "Roboto";
  color: var(--font-color);

  --color-shadow-primary : none;
  --color-shadow-highlight : none;
}

.xanders-swnr input:focus{
  border: 1px solid var(--input-focus-color);
  padding: 3px;
}

.xanders-swnr input:hover:enabled{
  border: 1px solid var(--input-focus-color);
  padding: 3px;
  color: var(--font-color);
}

/* Sets the size and color of the sheet header */
.xanders-swnr .header-bar{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row;
  padding: 10px;

  background-color: var(--background-sheet-header-color);
}

/* Sets the size and position and background color of the portrait image */
.xanders-swnr .character-portrait{
  width: 150px;
  height: 150px;

  border-radius: 50%;
  border: 1px solid var(--border-color);

  box-shadow: 0 0 10px inset rgb(0,0,0,0.4);
  background: var(--background-portrait-image);
  background-size: 50px;

  display: flex;
  position: relative;
  justify-content: center;
  flex-shrink: 0;
}

/* Removes the border from the portrait image */
.xanders-swnr .character-portrait img{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 50%;

  position: absolute;
}

/* Sets the position of the health-bar and sets it to the propper size. */
.xanders-swnr .health-bar{
  position: relative;
  align-self: flex-end;
  bottom: -2px;

  width: 80%;
  height: 20px;

  border: 1px solid var(--border-color);

  box-shadow: 0 0 5px inset rgb(0,0,0,0.4);
  background-color: whitesmoke;
}

/* Sets the look of the fill inside the healthbar */
.xanders-swnr .health-bar .health-fill{
  background: var(--health-bar-color);
  height: 100%;
}

/* Sets the font style and properties of the HP text input */
.xanders-swnr .health-input{
  font-size: 16px;

  width: 35%;
  height: 100%;
}

/* Positions the HP text in the center of the healthbar */
.xanders-swnr .health-text{
  display: flex;
  position: relative;
  top: -100%;
  
  width: 100%;
  height: 100%;

  justify-content: center;
}

/* Sets the size and margin for the name text */
.xanders-swnr .name-bar{
  height: 100%;
  width: 400px;
  margin-left: 10px;
  flex-grow: 1;
}

/* Sets the font for the character name input field */
.xanders-swnr .player-name{
  font-family: "Roboto-Bold";
  font-size: 18px;

  width:60%;
  align-self: center;

  border-bottom: 1px solid var(--border-color);
}

/* Fixes an issue where the bar under the player name woud disapear sometimes. */
.xanders-swnr .player-name:disabled:hover{
  border-bottom: 1px solid var(--border-color);
}

/* Sets the size and positioning of the lock button */
.xanders-swnr .lock-button{
  width:30px;
  height:30px;

  margin-left: 5px;
}

/* Removes the border from the lock button */
.xanders-swnr .lock-button img{
  border: transparent;
}

/* The box that goes behind the level text */
.xanders-swnr .level-box{
  background-color: var(--level-background-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding-left: 7px;
  margin: 0;

  width: 100px;
  height: 30px;

  display:flex;
  flex-direction: row;
  align-items: center;
}

/* The level input field. */
.xanders-swnr .level-input{
  margin: 3px;
  font-family: "Orbitron";
}

/* The level text that goes before the level input field. */
.xanders-swnr .level-box p{
  align-self: center;
  font-family: "Orbitron";
}


/* Sets the size of the background information labels */
.xanders-swnr .background-informations-labels p, .species-label p{
  font-size: 10px;
  color: var(--second-font-color);
  font-weight:lighter;
}

.xanders-swnr .background-informations-labels div{
  flex: 1 1 0px;

  display: flex;
  justify-content: center;
}

/* Sets the size and font for the background information input fields */
.xanders-swnr .background-informations input{
  margin-top: 10px;
  flex: 1 1 0px;
  margin-left: 5px;
  margin-right: 5px;

  text-align: center;
  vertical-align: bottom;

  border-bottom: 1px solid var(--border-color);

  padding-bottom: 3px;

  font-size: 12px;
}

.xanders-swnr .background-informations input:focus, .species-element input:focus{
  border: 1px solid var(--input-focus-color);
}

.xanders-swnr .species-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* More information for the background field display properties */
.xanders-swnr .species-element input{
  text-align: center;
  vertical-align: bottom;

  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3px;

  font-size: 12px;
}

/* The box that contains the saving throw buttons */
.xanders-swnr .save-throw-box{
  flex: 5 1 0px; 

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* The box that contains the saving throw label and buttons */
.xanders-swnr .save-throw-container{
  border: 1px solid var(--border-color);
  border-radius: 2px;

  margin-left: 10px;
  margin-bottom: 10px;

}

.xanders-swnr .save-throw-container p{
  font-size: 12px;
  font-family: 'Orbitron';
  margin-left: 5px;
  margin-top: 5px;
}

/* The clickable buttons that allow you to make saving throws. */
.xanders-swnr .save-throw-button{
  width: 90px;
  height: 20px;
  background-color: var(--level-background-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  
  margin: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.xanders-swnr .save-throw-button:hover{
  border: 1px solid var(--input-focus-color);
}

/* The text inside of the saving throw buttons */
.xanders-swnr .save-throw-button p{
  font-size: 11px;
  font-family: 'Roboto';

  margin: 0px;

  display: flex;
  align-items: center;
}

/* Sets the font of the v## text in the saving throw button */
.xanders-swnr .save-throw-button .difficulty{
  font-size: 10px;
}

/* Sets the default look of the tabs */
.xanders-swnr .tabs{
  padding-bottom: 0px;

  display: flex;
  flex-direction: row;
}

/* Sets the default tab look */
.xanders-swnr .tabs a{
  border-bottom: 1px solid var(--border-color);
  padding-top: 5px;
  flex: 1 1 0px;

  background-position: 0 0;
  background-color: var(--background-sheet-header-color);

}

/* Sets the look of a tab when it is hovered over */
.xanders-swnr .tabs a:hover{
  color:rgb(5, 99, 150);
}

.xanders-swnr .tabs .active:hover{
  color: var(--font-color);
}

/* Sets the look of the active tab */
.xanders-swnr .tabs .active{
  font-weight: bold;
  background: transparent;

  border: 1px solid var(--border-color);
  border-bottom: none;
  padding-bottom: 1px;

  --color-shadow-primary: rgb(0, 0, 0, 0);
}

/* Sets the size of the main sheet body */
.xanders-swnr .sheet-tabs-body{
  padding: 10px;
}