/* 
  CSS Styling for character sheets.
*/

/* Sets the size and position and background color of the portrait image */
.window-app.xanders-swnr .character-portrait{
  width: 150px;
  height: 150px;

  border-radius: 50%;
  border: 1px solid var(--border-color);

  box-shadow: 0 0 10px inset rgb(0,0,0,0.4);
  background: var(--background-portrait-image);
  background-size: 50px;

  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

/* Removes the border from the portrait image */
.window-app.xanders-swnr .character-portrait img{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 50%;

  position: absolute;
}

/* The circular buttons on the portrait */
.window-app.xanders-swnr .portrait-button{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;

  background: var(--background-portrait-image);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px inset rgb(0,0,0,0.4);
  
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.window-app.xanders-swnr .portrait-button i{
  color: var(--portrait-icon-color);
}

.window-app.xanders-swnr .portrait-button:hover i{
  color: var(--font-color);
}

.window-app.xanders-swnr .portrait-button:hover{
  border: 1px solid var(--input-focus-color);
}

/* Sets the position of the health-bar and strain-bar and sets it to the propper size. */
.window-app.xanders-swnr .health-bar, .window-app.xanders-swnr .strain-bar{
  position: relative;
  bottom: -10px;

  width: 80%;
  height: 20px;

  border: 1px solid var(--border-color);

  box-shadow: 0 0 5px inset rgb(0,0,0,0.4);
  background-color: whitesmoke;
}

/* Sets the look of the fill inside the healthbar */
.window-app.xanders-swnr .health-bar .health-fill{
  background: var(--health-bar-color);
  height: 100%;
}

/* Sets the look of the fill inside the healthbar */
.window-app.xanders-swnr .strain-bar .strain-fill{
  background: var(--strain-bar-color);
  height: 100%;
}

/* Sets the font style and properties of the HP and Strain text input */
.window-app.xanders-swnr section.window-content .health-input, 
.window-app.xanders-swnr section.window-content .strain-input{
  font-size: 16px;

  width: 40px;
  height: 100%;

  border: none;
}

/* Positions the HP text in the center of the healthbar or strainbar */
.window-app.xanders-swnr .health-text, .window-app.xanders-swnr .strain-text{
  display: flex;
  position: relative;
  top: -100%;
  
  width: 100%;
  height: 100%;

  justify-content: center;
}

/* The div that contains the maximum strain input and the strain tooltip.*/
.window-app.xanders-swnr .strain-max{
  align-items: center;
  display: flex;
  justify-content: center;
}

/* The tooltip that is displayed when the strain is hovered.*/
.window-app.xanders-swnr .strain-max .strain-tooltip{
  display: flex;
  visibility: hidden;

  position: absolute;
  flex-direction: column;
  bottom: 100%;
  padding: 5px;
  z-index: 10;

  background: var(--strain-tooltip-background-color);
  box-shadow: 0 0 5px inset rgb(0,0,0,0.4);

  transition:  0.0s, visibillity 0.0s;
  transition-delay: 0.3s;
}

/* The text in the strain tooltip. */
.window-app.xanders-swnr .strain-max .strain-tooltip p{
  font-size: 12px;
}

/* The input in the strain tooltip. */
.window-app.xanders-swnr .strain-max .strain-tooltip input{
  font-size: 12px;
  padding: 2px;  
  height: 15px;
  width: 10px;
  text-align: start;
}

/* When the maximum strain value is hovered, a tooltip is displayed. */
.window-app.xanders-swnr .strain-max:hover .strain-tooltip,
.window-app.xanders-swnr .strain-max .strain-tooltip:focus-within{
  visibility: visible;
}


/* Sets the font for the character name input field */
.window-app.xanders-swnr .player-name{
  font-family: "Roboto-Bold";
  font-size: 18px;

  width:60%;
  align-self: center;

  border-bottom: 1px solid var(--border-color);
}

/* Fixes an issue where the bar under the player name woud disapear sometimes. */
.window-app.xanders-swnr .player-name:disabled:hover{
  border-bottom: 1px solid var(--border-color);
}

/* Sets the size and positioning of the lock button */
.window-app.xanders-swnr .lock-button{
  width:30px;
  height:30px;

  margin-left: 5px;

  cursor: pointer;
}

/* Removes the border from the lock button */
.window-app.xanders-swnr .lock-button img{
  border: transparent;
}

/* The box that goes behind the level text */
.window-app.xanders-swnr .level-box{
  background-color: var(--level-background-color);
  border-radius: 5px 5px 0px 0px;
  border: 1px solid var(--border-color);

  padding-left: 7px;
  margin: 0;

  width: 100px;
  height: 30px;

  display:flex;
  flex-direction: row;
  align-items: center;
}

/* Places the expierence bar */
.window-app.xanders-swnr .xp-bar{
  bottom: 1px;
  position: relative;
  border-radius: 3px;
  margin-bottom: -40px;
  line-height: 20px;

  background: var(--xp-tank-color);
  box-shadow: 0 0 10px inset rgb(0,0,0,0.4);

  height: 4px;
  transition: height 0.1s, bottom 0.1s;
  transition-delay: 0s;
}

.window-app.xanders-swnr section.window-content .xp-input{
  font-size: 16px;
  width: 35%;
  border: none;
}

/* Expanding the xp bar when hovered. */
.window-app.xanders-swnr .xp-bar:focus-within,
.window-app.xanders-swnr .xp-bar:hover{
  bottom: 10px;
  height: 20px;
  transition: height 0.2s, bottom 0.2s;
  transition-delay: 0.3s;
}

/* Hiding the XP input when the xp bar is collapsed. */
.window-app.xanders-swnr .xp-bar:focus-within input,
.window-app.xanders-swnr .xp-bar:focus-within p,
.window-app.xanders-swnr .xp-bar:hover input,
.window-app.xanders-swnr .xp-bar:hover p{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s, height 0s;
  transition-delay: 0.5s;
  height: 20px;
}

.window-app.xanders-swnr .xp-bar input,
.window-app.xanders-swnr .xp-bar p{
  visibility: hidden;
  transition: none;
  opacity: 0;
  height: 0px;
}

/* The filled line of the XP bar*/
.window-app.xanders-swnr .xp-bar-fill{
  background: var(--health-bar-color);
  border-radius: 3px;
}

/* The level input field. */
.window-app.xanders-swnr .level-input{
  margin: 3px;
  font-family: "Orbitron";
}

/* The level text that goes before the level input field. */
.window-app.xanders-swnr .level-box p{
  align-self: center;
  font-family: "Orbitron";
}


/* Sets the size of the background information labels */
.window-app.xanders-swnr .background-informations-labels p{
  font-size: 10px;
  color: var(--second-font-color);
  font-weight:lighter;
}

.window-app.xanders-swnr .background-informations-labels div{
  flex: 1 1 0px;

  display: flex;
  justify-content: center;
}

/* Sets the size and font for the background information input fields */
.window-app.xanders-swnr .background-informations input{
  margin-top: 10px;
  flex: 1 1 0px;
  margin-left: 5px;
  margin-right: 5px;

  text-align: center;
  vertical-align: bottom;

  font-size: 12px;
}

/* The box that contains the saving throw buttons */
.window-app.xanders-swnr .save-throw-box{
  flex: 5 1 0px; 

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* The box that contains the saving throw label and buttons */
.window-app.xanders-swnr .save-throw-container{
  border: 1px solid var(--border-color);
  border-radius: 2px;

  margin-left: 10px;
  margin-bottom: 10px;

}

.window-app.xanders-swnr .save-throw-container p{
  font-size: 12px;
  font-family: 'Orbitron';
  margin-left: 5px;
  margin-top: 5px;
}

/* The clickable buttons that allow you to make saving throws. */
.window-app.xanders-swnr .save-throw-button{
  width: 90px;
  height: 20px;
  background-color: var(--level-background-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  
  margin: 7px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.window-app.xanders-swnr .save-throw-button:hover{
  border: 1px solid var(--input-focus-color);
}

/* The text inside of the saving throw buttons */
.window-app.xanders-swnr .save-throw-button p{
  font-size: 11px;
  font-family: 'Roboto';

  margin: 0px;

  display: flex;
  align-items: center;
}

/* Sets the font of the v## text in the saving throw button */
.window-app.xanders-swnr .save-throw-button .difficulty{
  font-size: 10px;
}

/* Sets the size of the main sheet body */
.window-app.xanders-swnr .sheet-tabs-body{
  padding: 10px;
  flex-grow: 1;
}

.window-app.xanders-swnr .sheet-body{
  flex: 1 1 0px;
  display:flex;
  overflow: hidden;
}

/* Sets basic properties of the skill list */
.window-app.xanders-swnr .skill-list{
  display:flex;
  flex-direction: column;

  border: 1px solid var(--border-color);
  border-radius: 5px;
  list-style: none;

  padding: 0;
  width:220px;
}

/* Various properties used to configure items in the skill list */
.window-app.xanders-swnr .skill-list .skill{
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;

  display: flex;
  flex-direction: row;
  flex-grow: 1;

  font-family: "Roboto";
  font-size: 13px;
}

/* The first row in the skill bar */
.window-app.xanders-swnr .skill.skill-header{
  font-weight: bold;
}

/* The level of the skill or '-' for no levels */
.window-app.xanders-swnr .skill .skill-level{
  flex: 0 1 20px;
  margin-right: 10px;
  width: 20px;
}

/* The name of the skill, "administer", "connect", etc. */
.window-app.xanders-swnr .skill .skill-title{
  flex: 1 1 0px;

  cursor: pointer;
}

.window-app.xanders-swnr .skill .skill-title:hover,
.window-app.xanders-swnr .add-skill-clickable:hover{
  color: var(--active-font-color)
}

.window-app.xanders-swnr .skill .skill-title.no-hilight:hover{
  color: var(--font-color);
}

/* The attribute code of the skill, "str", "dex", etc. */
.window-app.xanders-swnr .skill .skill-attribute{
  flex: 0 1 25px;
}

.window-app.xanders-swnr .skill-choice .skill-attribute{
  color: var(--second-font-color);
}

/* The modifier of the skill */
.window-app.xanders-swnr .skill .skill-dice{
  flex: 0 1 35px;
}

.window-app.xanders-swnr .skill-choice .skill-dice{
  color: var(--second-font-color);
}

/* When no skills are added or when the sheet is in edit mode the "add skills" nuttons that are shown */
.window-app.xanders-swnr .skill.add-skill{
  font-style: italic;
  display: flex;
  justify-content: center;
}

.window-app.xanders-swnr .skill.add-skill:hover{
  color: var(--active-font-color)
}

/* Sets the skill list to alternate background colors. */
.window-app.xanders-swnr .skill-list .skill:nth-child(even) {
  background: var(--table-alt-color);
}

/* The stat list which includes AB, AC, Speed, and Effort*/
.window-app.xanders-swnr .stat-list{
  flex-direction: row;
  display: flex;
  margin-bottom: 10px;
}

.window-app.xanders-swnr .stat-box{
  display:flex; 
  flex-direction:column;
  flex: 1 1 0px;

  align-items: center;
  justify-content: center;

  padding-left: 5px;
  padding-right: 5px;
}

.window-app.xanders-swnr .stat-box p{
  font-size: 10px;
  text-align: center;
}

.window-app.xanders-swnr section.window-content .stat-input-container input{
  height: 25px;
  text-align: center;

  font-size: 14px;
  font-weight: bold;

  border-color: var(--border-color);
}

/* The div which contains favorited items and the attributes bar. */
.window-app.xanders-swnr .attribute-item-bar {
  flex-grow:1; 
  padding-top: 2px;
}

/* The div which contains the attributes. */
.window-app.xanders-swnr .attribute-list {
  display:flex; 
  flex-direction:row;
  flex-grow: 1;
  justify-content: space-evenly;
  border-top: 1px solid var(--border-color);
}

/* The six divs which contain the six main attributes. */
.window-app.xanders-swnr .attribute {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  flex-grow: 1;
  padding: 2px;
  border-left: 1px solid var(--border-color);
}

/* The inputs for attributes. */
.window-app.xanders-swnr .attribute-input{
  width: 40px;
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
  margin-top: 2px;
}

/* The headers for the attributes. */
.window-app.xanders-swnr .attribute-header p{
  width: 30px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
}

/* The modifier text for the attributes. */
.window-app.xanders-swnr .attribute-modifier {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--attribute-background-color);
  border: 1px solid var(--stat-border-color);
  border-radius: 5px;

  width: 30px;
  height: 20px;
}

/* Used to temporarily adjust the abillity modifier. */
.window-app.xanders-swnr .attribute-boost {
  display:flex; 
  flex-direction:row; 
  align-items:center;
  margin-top: 2px;
}

.window-app.xanders-swnr .attribute-boost p{
  font-size: 10px;
}

/* The input for the boost, including changing its color on hover. */
.window-app.xanders-swnr .attribute-boost input{
  font-size:10px;
  padding: 2px;  
  height: 15px;
  width: 10px;
  text-align: start;
}

.window-app.xanders-swnr .attribute-boost input:hover{
  padding: 1px;
}

.window-app.xanders-swnr .attribute-boost input:focus{
  padding: 1px;
}

/* The list that contains all of the inventory elements. */
.window-app.xanders-swnr ul.inventory-list{
  list-style: none;
  margin: 0px;
}

/* The inventory tab header bar. Not the labels in the bar, but the whole bar itself. */
.window-app.xanders-swnr .inventory-section-header{
  display: flex;
  flex-direction: row;

  box-shadow: 0 0 1px inset rgb(0, 0, 0, 0.25);
  background-color: var(--level-background-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);

  font-weight: bold;
  font-size: 12px;
  font-family: "Roboto";

  margin-top: 20px;
  margin-bottom: 3px;

  align-items: center;

  padding-top: 2px;
  padding-bottom: 2px;
}

/* The labels inside of the item headers. Items, TL, Encumbrance, etc.*/
.window-app.xanders-swnr .inventory-titles{
  display: flex;
  flex-direction: row;

  margin-left: 5px;
  margin-right: 5px;

  align-items: center;
  text-align: center;
}

/* The smaller titles for the catagory name line. */
.window-app.xanders-swnr .inventory-titles.inventory-subtitles div{
  font-size: 12px;
  font-weight: normal;
}

.window-app.xanders-swnr .inventory-titles.inventory-subtitles div p{
  font-size: 10px;
  color: var(--item-header-font-color);
}

/* The information on the right side of each item card. */
.window-app.xanders-swnr .inventory-details p{
  height: 20px;
  border-left: 1px solid var(--dark-border-color);
  line-height: 20px;
  font-size: 11px;
}

/* Each item in the sheet gets its own div. */
.window-app.xanders-swnr .inventory-item{
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  background-color: var(--item-background-other-color);

  margin-bottom: 3px;
  margin-left: 5px;
}

/* Each row in the item sheet. Every item gets its own title row. */
.window-app.xanders-swnr .inventory-item-header{
  display: flex;
  flex-direction: row;

  font-size: 12px;
  font-family: "Roboto";
  padding: 0px;
  margin: 0px;
}

/* The image for each item. */
.window-app.xanders-swnr .item-image-box{
  height: 25px;
  width: 25px;

  background-size: 25px;

  border-radius: 5px 0px 0px 5px;

  border: none;
  margin: 0px;
  padding: 0px;

  display:flex;
  align-items: center;
  justify-content: center;
}

/* The image when an item is expanded.*/
.window-app.xanders-swnr .item-image-box.expanded{
  border-radius: 5px 0px 0px 0px;
}

/* The dice icon when an inventory item is hovered.*/
.window-app.xanders-swnr .inventory-item:hover .item-image-box i{
  display: unset;
  color: var(--item-header-image-color);
  font-size: 18px;

  cursor: pointer;
}

/* The dice icon when an inventory item image is hovered.*/
.window-app.xanders-swnr .inventory-item .item-image-box:hover i{
  display: unset;
  color: black;
  font-size: 18px;
}

/* The dice icon when the item is not being hovered.*/
.window-app.xanders-swnr .inventory-item:not(:hover) .item-image-box:not(:hover) i{
  display: none;
}

/* The dice icon when an inventory item is hovered.*/
.window-app.xanders-swnr .inventory-item:hover .item-image-box{
  background-image: none !important;
}

/* Makes the item title change colors when it is hovered. */
.window-app.xanders-swnr .item-clickable:hover{
  color: var(--active-font-color);
  cursor: pointer;
}

/* The input used to set the quantity of each item. */
.window-app.xanders-swnr section.window-content .inventory-quantity{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-left: 5px;
}

.window-app.xanders-swnr section.window-content .inventory-quantity input{
  min-width: 4ch;
  width: 4ch;
  height: 15px;
  font-size: 10px;
  padding:2px;
}

.window-app.xanders-swnr section.window-content .inventory-quantity input:hover,
.window-app.xanders-swnr section.window-content .inventory-quantity input:focus{
  padding:1px;
}


.window-app.xanders-swnr section.window-content .inventory-quantity p{
  font-size: 10px;
}

/* The ammunition reload button on ranged weapons. */
.window-app.xanders-swnr .item-reload-button:hover i{
  text-shadow: 0 0 10px #265a88;
  color: var(--active-font-color);
  cursor: pointer;
}

/* Makes the item change colors when it is readied. */
.window-app.xanders-swnr .inventory-item.location-readied{
  background-color: var(--item-background-readied-color);
}

/* Makes the item change colors when its status is "stowed". */
.window-app.xanders-swnr .inventory-item.location-stowed{
  background-color: var(--item-background-stowed-color);
}

.window-app.xanders-swnr .inventory-item-body{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.window-app.xanders-swnr .inventory-item-body .body-content{
  margin-top: 0;
  transition: all 0.5s;
}

.window-app.xanders-swnr .inventory-item-body.undisplayed .body-content{
  margin-top: -100%;
}

/* The box that goes below the item when it is clicked. */
.window-app.xanders-swnr .inventory-item-summary{
  border-top: 1px solid var(--border-color);
  min-height: 10px;
  padding: 5px;

  font-size: 11px;
  font-family: 'Roboto';
  font-weight: normal;
}

/* The details row below the item summary. */
.xanders-swnr .inventory-extra-details{
  display:flex; 
  flex-direction:row;
  flex-wrap: wrap;
  gap: 5px;
  font-family: 'Roboto';
  font-size: 10px;

  margin: 3px;
}

/* The detail labels below the item summary. */
.xanders-swnr .inventory-extra-details-item{
  border-radius: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: var(--item-detail-label-color-inventory);
}

/* The bar in the inventory tab that holds the curency inputs. */
.window-app.xanders-swnr .inventory-money,
.window-app.xanders-swnr .inventory-effort{
  margin-right:10px;
  height: 50px;
  border-top: 1px solid var(--border-color);
}

/* The detail labels below the item summary. */
.xanders-swnr.chat-details .inventory-extra-details-item{
  background-color: var(--item-detail-label-color-chat);
  color: var(--font-color);
}

/* The biography tab. */
.window-app.xanders-swnr .notes-window{
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

/* The description header that just says "biography". */
.window-app.xanders-swnr .notes-header{
  margin-bottom: 5px;
  font-family: 'Roboto';
  font-size: 16px;
}

/* Setting properties that are useful when using the TinyMCE editor. */
.window-app.xanders-swnr .notes-text{
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  font-size: 13px;
}

.window-app.xanders-swnr .notes-window .editor{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

/* The description of a chat item card message. */
.xanders-swnr.chat-details p{
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: normal;
}

/* Adds a glow when chat item names are hovered. */
.xanders-swnr.chat-details p#item-name:hover{
  color: var(--active-font-color);
}